#landing{
	
	#bar{
		position: fixed;
		z-index: 9999;
		top: 0;
		width: 100%;
		height: 80px;
		background:rgba(26, 96, 169, 0.72);
		// border-bottom:2px solid white;
		transition: all .3s ease-out;
		.gac{
			float: left;
			width: 204px;
			height: 28px;
			border: 1px solid white;
			text-align: center;
			margin-top: 14px;
			transition: border .3s ease-out;
			svg{
				margin-top: 3px;
				path{
					transition: fill .3s ease-out;
					fill:#fff;
				}
			}
		}
		.logo{
			float: left;
			margin-top: 5px;
			svg{
				width: 175px;
			}
		}
		.menu{
			float: right;
			line-height: 60px;
			ul{
				float: left;
				li{
					line-height: 64px;
					padding-top: 8px;
					padding-bottom: 8px;
					float: left;
					padding-left: 25px;
					padding-right: 25px;
					// margin-right: 24px;
					border-right: 1px solid transparent;
				}
			}
			a{
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 600;
				transition: all .3s ease-out;
				&:hover{
					// color: $primary;
				}
			}
			.lang-holder{
				float: left;
				position: relative;
				width: 60px;
				text-align: center;
				margin-left: 10px;
				.lang{
					// float: left;
					color: #fff;
					text-transform: uppercase;
					font-size: 13px;
					font-weight: 600;
					// border: 1px solid $darker;
					// height: 24px;
					line-height: 24px;
					margin-top: 29px;
					// padding: 0 5px;
					box-sizing:border-box;
					cursor: pointer;
					transition: all .3s ease-out;
					svg{
						transform:translateY(-1px);
						margin-left: 1px;
						margin-right: 1px;
						path{
							fill:#fff;
						}
					}
					&:hover {
						// color: $primary;
					}
				}
				.lang-dropdown{
					position: absolute;
					top: 80px;
					left: 0;
					overflow: hidden;
					height: 0;
					.holder{
						background:$primary;
						width: 60px;
						padding: 10px 0;
						text-align: center;
						color: #fff;
						font-size: 11px;
						text-transform: uppercase;
						font-weight: 600;
						transform: translateY(-200px);
						transition: all .4s ease-out;
					}
					.lng{
						padding: 0;
						line-height: 24px;
						cursor: pointer;
						&:hover{
							background:$darker;
						}
					}
				}
				&.dropped{
					.lang{
						// color: $primary;
					}
					.lang-dropdown{
						height: auto;
					}
					.lang-dropdown .holder{
						transform: translateY(0);
					}
				}
			}
			
		}

		.mobile-menu{
			display: none;
			float: right;
			.btn{
				width: 40px;height: 40px;
				text-align: center;
				line-height: 46px;
				margin-top: 10px;
				svg{
					path{
						fill:#fff;
					}
				}
			}

		}
		.mobile-menu-drop{
			position: absolute;
			background:$primary;
			top: 62px;
			width: 100px;
			right: 0;
			padding: 10px 0;
			box-shadow:-1px 1px 3px rgba(0,0,0,0.5);
			a{
				color: #fff;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 13px;
				line-height: 24px;
				display: block;
				padding-left: 20px;
				&:hover{
					background:$darker;
				}
			}
		}

		&.scrolled{
			background:#fff;
			box-shadow: 0 2px 7px rgba(0,0,0,0.5);
			.gac{
				border-color:#000;
				svg{
					path{
						fill:#000;
					}
				}
			}
			.logo{
				svg{
					path,polygon{
						fill:$primary;
					}
				}
			}
			.menu{
				li{
					border-right:1px solid #dcdcdc;
					transition: all .25s ease-out;
					&:first-of-type{
						border-left: 1px solid #dcdcdc;
					}
					&:hover{
						background:$primary;
						a{
							color: #fff;
						}
					}
				}
				a{
					color: #000;
				}
				.lang{
					color: #000;
					svg{
						path{
							fill:$primary;
						}
					}
				}
			}
			.mobile-menu{
				.btn{
					svg{
						path{
							fill:$primary;
						}
					}
				}
			}
		}

		@media screen and (max-width: 767px){
			.menu{
				display: none;
			}
			.mobile-menu{
				display: block;
			}
		}
	}


	@keyframes bottomBounce {
		0%{
			transform: translateY(0);
		}
		50%{
			transform:translateY(10px);
		}
		100%{
			transform:translateY(0);
		}
	}
	#cover{
		background:transparent url('../images/bg.jpg') center top no-repeat;
		background-size: cover;
		width: 100%;
		height: 700px;
		position: relative;
		opacity: 0;
		transition: all .8s ease-out;
		&.inited{
			opacity: 1;
		}
		.gradient{
			// height: 80px;
			// width: 100%;
			// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
			// background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
			// background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
			// background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

		}
		.bottom-pointer{
			position: absolute;
			bottom: 72px;
			left: 50%;
				animation: bottomBounce 1.7s linear infinite;
			a{
				// display: inline-block;
			}
			svg{
				transform: translateX(-5px) scale(6);
				path{
					fill:#fff;
				}
			}
		}
		@media only screen and (max-width: 459px){
			background-size: 290%;
			background-position-y: -90px!important;
		}
	}

	.sidestuff{
		position: absolute;
		right: 0;
		bottom: 120px;
		//+40 right padding to all 3 el
		.quote{
			background:#fff;
			padding-right: 60px;
			padding-left: 18px;
			height: 34px;
			line-height: 36px;
			font-size: 15px;
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: none;
			color: #000;
			display: block;
			float: right;
		}
		.journey{
			background:$primary;
			padding-right: 60px;
			padding-left: 25px;
			padding-top: 20px;
			padding-bottom:20px;
			width: 420px;
			color: #fff;
			float: right;
			clear: right;
			box-shadow: 0 1px 11px rgba(0,0,0,0.7);
			position: relative;
			z-index: 3;
			h1{
				font-size: 25px;
				line-height: 30px;
				font-weight: 600;
				text-transform: uppercase;
			}
			p{
				margin-top: 7px;
				line-height: 23px;
				font-size: 20px;
				font-weight: 400;
			}
		}
		.book-now{
			float: right;
			clear: right;
			background:$secondary;
			height: 56px;
			line-height: 56px;
			width: 420px;
			color: #000;
			box-sizing:border-box;
			padding-left: 35px;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 600;
			cursor: pointer;
			svg{
				margin-left: 10px;
				transform: translateY(-1px);
				path{
					fill: $primary;
				}
			}
			transition: all .3s ease-out;
			&:hover{
				transform:translateX(7px);
			}
		}

		&.ng-hide-remove{
			transition: all 1.5s;
			.animation-container{
				transition: all .7s cubic-bezier(0.335, 0.310, 0.020, 0.940);
				transform: translateX(506px);
			}
			.quote{
				transition: all .5s ease-out;
				transition-delay:1.1s;
				transform:translateY(35px);
			}
			.book-now{
				transition: all .5s ease-out;
				transition-delay: .6s;
				transform:translateY(-60px);
			}
		}
		&.ng-hide-remove-active{
			.animation-container{
				transform:translateX(0);
			}
			.quote,.book-now{
				transform: translateY(0);
			}
		}
		&.ng-hide-add{
			transition: all .7s;
			.quote{
				transition: all .2s ease-in;
				transition-delay: .25s;
			}
			.journey{
				transition: all .3s ease-in;
				transition-delay: .3s;
			}
			.book-now{
				transition: all .4s ease-in;
			}
		}
		&.ng-hide-add-active{
			.quote{
				transform:translateX(180px);
			}
			.journey{
				transform:translateX(506px);
			}
			.book-now{
				transform:translateX(420px);
			}
		}

		@media only screen and (max-width: 459px){
			.quote{
				padding-left: 18px;
				padding-right: 20px;
				font-size: 13px;
			}
			.journey{
				padding-right: 20px;
				padding-left: 25px;
				width: auto;
				float: none;
				clear: right;
				margin-left: 20px;
				box-sizing:border-box;
				h1{
					font-size: 25px;
					line-height: 32px;
				}
				p{
					margin-top: 7px;
					line-height: 18px;
					font-size: 15px;
				}
			}
			.book-now{
				width: auto;
				font-size: 20px;
				padding-left: 35px;
				padding-right: 30px;
			}
		}
	}
	.initial-hider{
		display: none;
		&.inited{
			display: block;
		}
	}
	.login{
		position: fixed;
		z-index: 99999;
		height: 100%;
		width: 100%;
		right: 0;
		top: 0;
		.bg{
			position: absolute;
			width: 100%;
			height: 100%;
			background:rgba(0,0,0,0.5);
		}
		.sidebar{
			background:$primary;
			display: flex;
			align-items: center;
			width: 340px;
			height: 100%;
			padding: 0 50px;
			color: #fff;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
		}
		.close{
			position: absolute;
			top: 20px;
			left: 30px;
			width: 40px;height: 40px;
			cursor: pointer;
			svg{
				transform:scale(1.7);
				path{
					fill:#fff;
				}
			}
		}
		.back{
			position: absolute;
			top: 20px;
			left: 30px;
			width: 40px;height: 40px;
			cursor: pointer;
			z-index: 31;
			svg{
				transform:scale(1);
				path{
					fill:#fff;
				}
			}
		}
		.contents{
			height: 520px;
			text-align: center;
		}
		h1{
			font-size: 40px;
			font-weight: 400;
		}
		p{
			font-size: 20px;
			margin-top: 12px;
		}
		form{
			margin-top: 90px;
			width:240px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			.agent-login{
				position: absolute;
				bottom: -40px;
				width: 100%;
				text-align: center;
				text-transform: capitalize;
				text-decoration: underline;
				font-size: 14px;
			}
			input:not([type=checkbox]){
				border: 1px solid #fff;
				background:transparent;
				width: 100%;
				height: 45px;
				box-sizing:border-box;
				text-align: center;
				color: #fff;
				outline:none;
				font-family: 'Open Sans';
				font-size: 16px;
				// transition: all .24s ease-out;
				// &:focus{
				// 	background:#fff;
				// 	color: $primary;
				// }
				&[type=email]{
					margin-bottom: 20px;
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  text-align: center;
				  font-family: 'Open Sans';
				  font-style: italic;
				  font-size: 15px;
				  color: #5db9e5;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  text-align: center;
				  font-family: 'Open Sans';
				  font-style: italic;
				  font-size: 15px;
				  color: #5db9e5;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  text-align: center;
				  font-family: 'Open Sans';
				  font-style: italic;
				  font-size: 15px;
				  color: #5db9e5;
				}
			}
			.forgot{
				font-size: 12px;
				color: #5db9e5;
				font-weight: 400;
				text-decoration: none;
				float: right;
				font-style: italic;
				margin-top: 10px;
			}
			p{
				position: relative;
				width: 100%;
				display: block;
				clear: both;
				text-align: left;
				margin-top: 60px;

				[type="checkbox"]:not(:checked),
				[type="checkbox"]:checked {
					position: absolute;
					left: -9999px;
				}
				[type="checkbox"]:not(:checked) + label,
				[type="checkbox"]:checked + label {
					font-size: 12px;
					padding-left: 22px;
					color: #5db9e6;
					font-style: italic;
					font-weight: 400;
					cursor: pointer;
				}

				[type="checkbox"]:not(:checked) + label:before,
				[type="checkbox"]:checked + label:before {
					content: '';
					position: absolute;
					left:0; top: 4px;
					width: 13px; height: 13px;
					border: 1px solid #fff;
					background: transparent;
				}
				/* checked mark aspect */
				[type="checkbox"]:not(:checked) + label:after,
				[type="checkbox"]:checked + label:after {
					content: '✔';
					position: absolute;
					top: 3px; left: 1px;
					font-size: 18px;
					line-height: 0.8;
					color: #fff;
					transition: all .2s;
				}
				/* checked mark aspect changes */
				[type="checkbox"]:not(:checked) + label:after {
					opacity: 0;
					transform: scale(0);
				}
				[type="checkbox"]:checked + label:after {
					opacity: 1;
					transform: scale(1);
				}
			}

			input[type=submit]{
				margin-top: 20px;
				font-size: 18px;
				font-family: 'Open Sans';
				font-weight: 400;
				cursor: pointer;
				transition: all .25s ease-out;
				&:hover{
					background:#fff;
					color: $primary;
				}
			}

			.btn{
				width: 100%;
				height: 45px;
				box-sizing:border-box;
				border: 1px solid #fff;
				line-height: 44px;
				text-transform: uppercase;
				margin-top: 14px;
				font-weight: 400;
				cursor: pointer;
				transition: all .25s ease-out;
				&:hover{
					background:#fff;
					color: $primary;
				}
			}
		}
		
		.signup{
			.close{
				svg{
					transform:scale(1);
				}
			}
			text-align: center;
			h1{
				font-size: 38px;
				margin-top: 60px;
			}
			form{
				margin-top: 70px;
				input{
					margin-bottom: 17px;
				}
				input[type=email]{
					margin-bottom: 40px;
				}
				.invalid{
					border-color:#ea1921;
				}
				input[name=phone]{
					margin-top: 21px;
				}
				p{
					margin-top: 0px;
					margin-bottom: 20px;
				}
			}
			.password-holder{
				position: relative;
				.guide{
					position: absolute;
					width: 80px;
					height: 107px;
					background:#fff;
					top: 0;
					left: -89px;
					text-align: left;
					box-sizing:border-box;
					padding: 10px;
					&:before{
						content:" ";
						width: 14px;height: 14px;
						background:#fff;
						transform:rotate(45deg);
						top: 16px;
						right: -4px;
						position: absolute;
					}
					.cap{
						color: #498588;
						font-size: 10px;
						text-transform: uppercase;
						margin-top: 2px;
					}
					ul{
						margin-top: 20px;
						line-height: 16px;
						li{
							font-size: 10px;
							color: #838383;
							&.met{
								color: #2da7ad;
							}
						}
					}
				}
			}
		}
		.content-holder{
			position: absolute;
			left: 0;
			width: 100%;
			&.ng-hide-remove{
				transition: all .5s;
				opacity: 0;
				transition-delay:.5s;
			}
			&.ng-hide-remove-active{
				opacity: 1;	
			}
			&.ng-hide-add{
				transition: all .5s;
			}
			&.ng-hide-add-active{
				opacity: 0;
			}
		}
		&.ng-hide-remove{
			//cubic-bezier(1.000, 0.450, 0.300, 0.780)
			//cubic-bezier(0.840, 0.335, 0.380, 0.910)
			transition: all 1.4s;
			.sidebar{
				transition: all .5s cubic-bezier(1.000, 0.450, 0.300, 0.780);
				transition-delay: .5s;
				transform: translateX(440px);
			}
			.bg{
				transition: all .3s;
				transition-delay:.7s;
				opacity: 0;
			}
			.contents{
				transition: all .4s cubic-bezier(0.290, 0.600, 0.360, 0.885);
				transition-delay: .8s;
				transform: translateX(100px);
				opacity: 0;
			}
		}
		&.ng-hide-remove-active{
			.sidebar{
				transform: translateX(0);
			}
			.bg{
				opacity: 1;
			}
			.contents{
				transform:translateX(0);
				opacity: 1;
			}
		}
		&.ng-hide-add{
			transition: all .5s;
			.sidebar{
				transition: all .4s ease-in;
			}
			.bg{
				transition: all .4s ease-in;
			}
		}
		&.ng-hide-add-active{
			.sidebar{
				transform: translateX(440px);
			}
			.bg{
				opacity: 0;
			}
		}
	}



	#services{
		background:#73bae3;
		color: #fff;
		text-align: center;
		padding-top: 100px;
		padding-bottom: 130px;
		h1{
			font-weight: 600;
			font-size: 40px;
			text-transform: uppercase;
		}
		h3{
			font-size: 20px;
			font-weight: 600;line-height: 25px;
			text-transform: uppercase;
			margin-top: 10px;
			margin-bottom: 100px;
		}
		.tabs{
			display: flex;
			// margin-bottom: 10px;
			.tab{
				height: 111px;
				margin: 0 5px;
				flex:1;
				background:$primary;
				line-height: 110px;
				text-transform: uppercase;
				font-size: 20px;
				font-weight: 400;
				// transition: all .25s ease-out;
				margin-bottom: 9px;
				cursor: pointer;
				&.current{
					margin-bottom: 0;
					background:$primary;
					height: 120px;
					font-size: 30px;
					box-shadow: 2px 7px 8px rgba(0,0,0,0.4);
				}
				&:first-of-type{
					margin-left: 0;
				}
				&:last-of-type{
					margin-right: 0;
				}
			}
			@media screen and (max-width: $tablet){
				.tab{
					font-size: 18px;
					&.current{
						font-size: 25px;
					}
				}
			}
			@media screen and (max-width: 767px){
				display: none;
			}
		}
		.tab-content{
			background:$primary;
			position: relative;
			z-index: 10;
			padding: 100px 50px;
			box-shadow: 2px 7px 8px rgba(0,0,0,0.4);
				min-height: 459px;
				box-sizing:border-box;
			h2{
				display: none;
			}
			.content{
				display: flex;
			}
			.img{
				// width: 362px;
				position: absolute;
				right: 0px;
				top: 0;
				img{
					display: block;
					width: 370px;
				}
			}
			.text{
				padding-left: 30px;
				text-align: left;
				flex:1;
				font-size: 20px;
				font-weight: 600;
				padding-right: 400px;
			}
			@media screen and (max-width: $tablet){
				.img{
					width: 220px;
				}
			}
			@media screen and (max-width: 767px){
				padding-top: 50px;
				padding-bottom: 50px;
				h2{
					display: block;
					font-size: 30px;
					text-transform: uppercase;
					margin-bottom: 30px;
					margin-top: -10px;
					font-weight: 600;
				}
				.content{
					display: block;
				}
				.img{
					display: block;
					width: 100%;
					padding-bottom: 30px;
				}
				.text{
					width: 100%;
					text-align: center;
					padding: 0;
				}
			}
		}
		.book-now{
			float: right;
			background:$secondary;
			width: 370px;height: 80px;
			color: #000;
			line-height: 80px;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 20px;
			box-shadow: 2px 6px 8px rgba(0,0,0,0.3);
			cursor: pointer;
			position: relative;
			z-index: 5;
			@media screen and (max-width: 767px){
				float: none;
				margin: 0 auto;
			}
			@media only screen and (max-width: 459px){
				width: 100%;
			}
		}
		.tab-label{
			position: absolute;
			left: 0;
			margin-top: -29px;
			margin-left: 100px;
			font-weight: 700;
			color: $primary;
			font-size: 120px;
			text-transform: uppercase;
			&.smaller{
				font-size: 100px;
				margin-top: -20px;
				margin-left: 35px;
			}
			&.ng-hide-remove{
				transition: all .25s ease-out;
				transform: translateY(-30px);
				opacity: 0;
			}
			&.ng-hide-remove-active{
				opacity: 1;
				transform:translateY(0);
			}
			&.ng-hide-add{
				transition: all .25s ease-out;
			}
			&.ng-hide-add-active{
				transform: translateY(-30px);
				opacity: 0;
			}

			@media screen and (max-width: $tablet){
				display: none;
			}
		}

		.services-desktop{
			@media screen and (max-width: 767px){
				display: none;
			}
		}
		.services-mobile{
			width: auto!important;
			@media screen and (min-width: 768px){
				display: none;
			}
			// width: 300px;
			// height: 200px;
			.tab-content{
				box-sizing:border-box;
			}
		}
		.swiper-wrapper{
			padding-bottom: 10px;
		}
		.swiper-container-horizontal {
			// overflow: visible;
		}
		.swiper-container-horizontal > .swiper-pagination-bullets {
			bottom: auto;
			top: 0px;
		}
		.swiper-slide{
			margin-top: 15px;
		}
		.swiper-pagination-bullet{
			background:#d7d7d7;
			width: 10px;height: 10px;
			opacity: 1;
		}
		.swiper-pagination-bullet-active{
			background:#1d4f52;
		}
		@keyframes swipe-hand {
		    0%   {transform: translateX(50px);}
		    30% {transform: translateX(-50px);}
		    100% {transform: translateX(-50px);}
		}
		.swiping-hand{
			margin-top: -70px;
			margin-bottom: 10px;
			svg{
				animation: swipe-hand 3s infinite;
				path{
					fill:#1d4f52;
				}
			}
			small{
				margin-top: 5px;
				color: #206f72;
				font-size: 12px;
				font-weight: 600;
				line-height: 12px;
				display: inline-block;
			}
		}
	}
	
	@keyframes globing {
		0%{
			background-position: 0px 0px;
		}
		100%{
			background-position: -15000px 0px;
		}
	}

	#quote{
		background:$primary;
		padding: 150px 0;

		background-image: url(../images/world.jpg);
		background-position: center;

		animation: globing 1000s;

		.quote-box{
			width: 500px;
			margin: 0 auto;
			background:#fff;
			box-shadow:2px 2px 5px rgba(0,0,0,0.5);
			padding: 40px;
			box-sizing:border-box;
			text-align: center;
			position: relative;

			h1{
				font-size: 30px;
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			p{
				font-size: 15px;
				font-weight: 400;
				line-height: 20px;
				margin-bottom: 45px;
			}
			.type-selector{
				position: relative;
				.type-dash{
					position: absolute;
					height: 6px;
					background:$primary;
					top: 23px;
					transition: all .4s ease-out;
					&.float-1{
						left: 0;
					}
					&.float-2{
						left: 50%;
					}
					// &.float-3{
					// 	right: 0;
					// }
				}
			}
			.type-dropdown-holder{
				display: none;
			}
			.types{
				width: 100%;
				border-bottom: 1px solid #7e7e7e;
				margin-bottom: 40px;
				display: flex;
				justify-content: space-between;
				padding-bottom: 8px;
				height: 20px;
				.type{
					font-weight: 600;
					color: #a5a5a5;
					margin: auto;
					display: inline-block;
					font-size: 20px;
					text-transform: uppercase;
					cursor: pointer;
					transition: all .25s ease-out;
					transform: scale(0.85);
					&:first-of-type{
						margin-left: 0;
						position: absolute;
						left: 0;
					}
					&:last-of-type{
						margin-right: 0;
						position: absolute;
						right: 0;
					}
					&.current{
						transform:scale(1);
						// font-size: 20px;
						color: $primary;
					}
				}
			}

			form{
				input{
					border:1px solid $primary;
					height: 50px;
					line-height: 50px;
					font-size: 18px;
					font-weight: 400;
					font-family: 'Open Sans';
					color: $primary;
					width: 40px;
					box-sizing:border-box;
					text-align: center;
					font-weight: 600;
					outline:none;
					// 9e9f9e
					&::-webkit-input-placeholder {
						color: #9e9e9e;
						text-align: center;
						font-style: italic;
						font-weight: 400;
					}
					&::-moz-placeholder{

					}
					&:-ms-input-placeholder {
					}
				}
				.dest-input{
					float: left;
					position: relative;
					z-index: 2;
					margin-right: 10px;
					input{
						width: 218px;
					}
				}
				.date{
					.fph-input{
						margin-right: 5px;

						&:first-of-type{
							margin-left: 10px;
						}
					}
					.btn{
						float: right;
						width: 36px;
						margin-left: -5px;
						cursor: pointer;
						svg{
							transform:translateY(-2px);
							path{
								fill:$primary;
							}
						}
						small{
							font-size: 9px;
							text-transform: uppercase;
							font-weight: 600;
							color: $primary;
							line-height: 9px;
							display: inline-block;
							margin-top: 0px;
						}
					}
					position: relative;
					.datepicker-holder{
						position: absolute;
						background:#fff;
						z-index: 10;
						border:1px solid $primary;
						right: 0px;
						box-sizing:border-box;
						top: 58px;
						width: 100%;
						table{
							width: 100%;
						}
					}
				}
				.dropdown{
					margin-top: 20px;
					.input{
						font-size: 18px;
						font-weight: 600;
					}
				}
				.dropdown.passengers{
					position: relative;
					.overlay{
						position: absolute;
						width: 100%;
						height: 250px;
						border:1px solid $primary;
						top: 0px;
						box-sizing:border-box;
						background:#fff;
						z-index: 2;
						overflow: hidden;
						.cap{
							color: #9e9f9e;
							font-weight: 600;
							font-size: 12px;
							text-transform: uppercase;
							margin-top: 15px;
						}
						.num-input{
							width: 250px;
							margin: 15px auto 0;
							position: relative;
							height: 35px;
							.plus,.minus{
								color: $primary;
								font-size: 30px;
								font-weight: 100;
								position: absolute;
								cursor: pointer;
							}
							.plus{
								left: 0;
							}
							.minus{
								right: 0;
							}
							.content{
								position: absolute;
								left: 100px;
								text-align: left;
								top: 4px;
								.num{
									font-weight: 400;
									font-size: 30px;
									color: $primary;
									float: left;
									margin-right: 10px;
								}
								b{
									color: #3e3e3e;
									font-size: 12px;
									font-weight: 600;
									display: inline-block;
								}
								small{
									color: #9e9f9e;
									font-weight: 600;
									font-size: 10px;
									display: inline-block;
									transform:translateY(-5px);
								}
							}
						}
						.ok{
							width: 182px;
							background:$primary;
							color: #fff;
							font-weight: 600;
							height: 40px;
							margin: 15px auto 0;
							text-transform: uppercase;
							line-height: 40px;
							cursor: pointer;
						}

						&.ng-hide-remove{
							transition: all .4s ease-out;
							height: 52px;
							.cap{
								transition: all .4s ease-out;
								color: $primary;
								font-size: 18px;
								margin-bottom: 20px;
								margin-top: 17px;
							}
						}
						&.ng-hide-remove-active{
							height: 250px;
							.cap{
								font-size: 12px;
								margin-bottom: 0;
								margin-top: 15px;
							}
						}
						&.ng-hide-add{
							transition: all .4s ease-out;
							.cap{
								transition: all .4s ease-out;
							}
						}
						&.ng-hide-add-active{
							height: 52px;
							.cap{
								color: $primary;
								font-size: 18px;
								margin-bottom: 20px;
								margin-top: 17px;
							}
						}
					}
				}
				.dropdown.services{
					position: relative;
					.overlay{
						position: absolute;
						width: 100%;
						height: 333px;
						border:1px solid $primary;
						top: -160px;
						box-sizing:border-box;
						background:#fff;
						z-index: 2;
						overflow: hidden;
						box-shadow: 0 2px 7px rgba(0,0,0,0.5);
						transition: all .3s ease-out;
						&.expanded{
							top: -200px;
							height: 373px;
						}
						.cap{
							color: #9e9f9e;
							font-weight: 600;
							font-size: 12px;
							text-transform: uppercase;
							margin-top: 15px;
						}
						.num-input{
							width: 250px;
							margin: 20px auto 0px;
							position: relative;
							height: 35px;
							.plus,.minus{
								color: $primary;
								font-size: 30px;
								font-weight: 100;
								position: absolute;
								cursor: pointer;
							}
							.plus{
								left: 0;
							}
							.minus{
								right: 0;
							}
							.content{
								position: absolute;
								left: 80px;
								text-align: left;
								top: 4px;
								.num{
									font-weight: 400;
									font-size: 30px;
									color: $primary;
									float: left;
									margin-right: 10px;
								}
								.box-holder{
									display: flex;
									flex-direction: column;
									height: 40px;
								    justify-content: center;
								    margin-top: -7px;
								}
								b{
									color: #3e3e3e;
									font-size: 12px;
									font-weight: 600;
									display: inline-block;
									max-width: 85px;
									margin-top: 2px;
								}
								small{
									color: $primary;
									font-size: 10px;
									font-weight: 600;
									text-transform: uppercase;
									display: block;
									margin-top: 3px;
									cursor: pointer;
								}
							}
						}
						.svc-container{
							.read-more{
								font-size: 12px;font-weight: 600;color: #000;
								width: 250px;
								text-align: left;
								margin: 0 auto;
								.read-less{
									font-size: 10px;font-style: italic;color: #959595;
									text-transform: uppercase;
									display: inline-block;
									cursor: pointer;
								}
								&.ng-hide-remove{
									transition: all .3s ease-out;
									transform: translateY(20px);
									opacity: 0;
									margin-bottom: -30px;
								}
								&.ng-hide-remove-active{
									opacity: 1;
									margin-bottom: 0;
									transform: translateY(0px);
								}
								&.ng-hide-add{
									opacity: 1;
									transition: all .3s ease-out;
									margin-bottom: 0;
									transform: translateY(0px);
								}
								&.ng-hide-add-active{
									opacity: 0;
									transform: translateY(20px);
									margin-bottom: -30px;
								}
							}
						}
						.ok{
							width: 182px;
							background:$primary;
							color: #fff;
							font-weight: 600;
							height: 40px;
							margin: 25px auto 0;
							text-transform: uppercase;
							line-height: 40px;
							cursor: pointer;
						}

						&.ng-hide-remove{
							transition: all .4s ease-out;
							height: 52px;
							top: 0;
							box-shadow: 0 0px 0px rgba(0,0,0,0.5);
							.cap{
								transition: all .4s ease-out;
								color: $primary;
								font-size: 18px;
								margin-bottom: 20px;
								margin-top: 17px;
							}
						}
						&.ng-hide-remove-active{
							height: 333px;
							top: -160px;
							box-shadow: 0 2px 7px rgba(0,0,0,0.5);
							.cap{
								font-size: 12px;
								margin-bottom: 0;
								margin-top: 15px;
							}
						}
						&.ng-hide-add{
							transition: all .4s ease-out;
							top: -160px;
							box-shadow: 0 2px 7px rgba(0,0,0,0.5);
							.cap{
								transition: all .4s ease-out;
							}
						}
						&.ng-hide-add-active{
							height: 52px;
							top: 0;
							box-shadow: 0 0px 0px rgba(0,0,0,0.5);
							.cap{
								color: $primary;
								font-size: 18px;
								margin-bottom: 20px;
								margin-top: 17px;
							}
						}
					}
				}
				.promo{
					float: right;margin-top: 13px;
					color: #9e9f9e;
					font-size: 15px;
					cursor: pointer;
				}
				.promo-input{
					width: 100%;
					margin-top: 20px;
				}


				input[type=submit]{
					width: 100%;height: 52px;
					font-weight: 600;
					color: #fff;
					border:none;
					text-transform: uppercase;
					margin-top: 27px;
					font-size: 20px;
					background:$primary;
					cursor: pointer;
					&:disabled{
						background:#afafaf;
						cursor: default;
					}
				}
			}

			.result {
				position: absolute;
				width: 100%;
				top: 90px;
				left: 0;
				box-sizing:border-box;
				z-index: 2;
				overflow: hidden;
				.inner{
					background:#fff;
					border:1px solid $primary;
					height: 444px;
					box-shadow: 0 2px 7px rgba(0,0,0,0.5);
					margin: 0 30px;
					margin-bottom: 20px;
					padding: 40px;
					box-sizing:border-box;
				}
				.field{
					float: left;
					width: 50%;
					text-align: left;
					margin-bottom: 30px;
					padding-left: 10px;
					box-sizing:border-box;
					&:nth-of-type(2n){
						padding-left: 30px;
					}
					.cap{
						font-size: 15px;
						font-style: italic;
						text-transform: uppercase;
						color: #9e9e9e;
					}
					font-size: 20px;
					line-height: 24px;
					color: $primary;
				}
				.total{
					font-size: 40px;
					color: #9e9e9e;
					text-transform: uppercase;
					width: 100%;
					height: 40px;
					// margin-bottom: 70px;
					b{
						float: left;
					}
					.price{
						float: right;
						margin-right: 40px;
					}
					.select-currency{
						position: absolute;
						right: 30px;
						margin-top: -10px;
						width: 70px;

						span{
							font-weight: 600;
							font-size: 10px;
							text-decoration: underline;
							color: #9d9d9d;
							width: 70px;
							display: inline-block;
							line-height: 11px;
							text-align: left;
						}
						select{
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							position: absolute;
							z-index: 10;
							width: 70px;
							height: 40px;
							left: 0;
							top: 0;
							opacity: 0;
							cursor: pointer;
						}
						
					}
				}
				// position: relative;
				.btn{
					width: 160px;height: 42px;
					box-sizing:border-box;
					color: $primary;
					border:2px solid $primary;
					text-transform: uppercase;
					font-size: 15px;font-weight: 600;
					line-height: 40px;
					float: left;
					position: absolute;
					bottom: 50px;
					cursor: pointer;
					&.book{
						right: 70px;
						float: right;
						background:$secondary;
						border-color:$secondary;
						color: #fff;
					}
				}

				&.ng-hide-remove{
					transition: all .4s ease-out;
					opacity: 0;
					transform:scale(0.5);
				}
				&.ng-hide-remove-active{
					opacity: 1;
					transform:scale(1);
				}
				&.ng-hide-add{
					opacity: 1;
					transition: all .3s ease-out;
				}
				&.ng-hide-add-active{
					opacity: 0;
				}
			}
		}

		@media screen and (max-width: 767px){
			background:$primary;
			padding: 100px 0;
			.quote-box{
				width: 450px;
				form{
					.dest-input{
						input{
							width: 170px;
						}
					}
				}
			}
		}
		@media only screen and (max-width: 459px){
			.quote-box{
				width: auto;
				margin: 0 20px;
				position: relative;
				form{
					.type-selector{
						display: none;
					}
					.type-dropdown-holder{
						display: block;
						margin-bottom: 20px;
					}
					.dest-input{
						float: none;
						margin-right: 0;
						width: 100%;
						.fph-input{
							float: none;
						}
						input{
							width: 100%;
						}
						// transform:translateY(65px);
					}
					.date{
						width: 200px;
						position: static;
						margin: 10px auto;
						margin-top: 30px;
						.btn{
							float: left;
							margin-left: 10px;
						}
						// transform: translateY(-70px);
						.datepicker-holder{
							left: 0;
							top: auto;
							margin-top: 60px;
						}
					}
				}
			}
		}
	}


	#support{
		text-align: center;
		padding: 80px 0;
		background:#fff;
		h1{
			color: $primary;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 40px;
		}
		h4{
			color: $primary;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 600;
			line-height: 22px;
			margin-top: 5px;
			margin-bottom: 30px;
		}
		p{
			font-size: 20px;
			font-weight: 400;
			// padding: 0 100px;
			max-width:800px;
			margin: 0 auto;
		}
		.heart{
			margin-top: 60px;
			margin-bottom: 30px;
			svg{
				path{
					fill:$primary;
				}
			}
		}

		.faq-overlay{
			position: absolute;
			width: 100%;
			background:$primary;
			color: #fff;
			padding: 20px 0;
			z-index: 10;
			h2{
				font-size: 40px;
				font-weight: 600;
				margin-top: 25px;
				margin-bottom: 10px;
			}
			h4{
				font-size: 20px;
				font-weight: 600;
				max-width: 430px;
				margin: 0 auto;
				color: #fff;
				margin-bottom: 45px;
			}
			.x{
				position: absolute;
				right: 30px;top: 30px;
				cursor: pointer;
				svg{
					transform:scale(1.2);
					path{
						fill:#fff;
					}
				}
			}
			.row .col{
				&:first-of-type{
					margin-left: 33px;
					margin-right: 33px;
				}
				&:last-of-type{
					margin-left: 33px;
					margin-right: 33px;
				}
			}
			.item{
				border:1px solid white;
				height: 50px;
				line-height: 50px;
				box-sizing:border-box;
				margin-bottom: 20px;
				padding-left: 20px;
				position: relative;
				cursor: pointer;
				.title{
					font-size: 14px;
					text-align: left;
				}
				svg{
					position: absolute;
					right: 15px;
					top: 23px;
					transform:scale(2.7);
					// background:$primary;
					path{
						fill:#fff;
					}	
				}
				&.opened{
					background:#fff;
					height: auto;
					.title{
						color: $primary;
					}
					.item-content{
						color: #000;font-size: 15px;
						margin-top: 0px;
						margin-bottom: 15px;
						margin-right: 15px;
						line-height: 18px;
						text-align: left;
					}
					svg{
						transform: scale(2.7) rotate(180deg);
						path{
							fill:$primary;
						}
					}
				}
			}
		}

		.row{
			display: flex;
			.col{
				h5{
					color: $primary;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 18px;
					line-height: 22px;
					margin-bottom: 50px;
				}
				flex:1;
				&:first-of-type{
					margin-right: 65px;
					h5{
						margin-top: 12px;
					}
				}
				&:last-of-type{
					margin-left: 65px;
				}
				@media screen and (max-width: $tablet){
					&:first-of-type{
						margin-right: 25px;
						h5{
							margin-bottom: 60px;
						}
					}
					&:last-of-type{
						margin-left: 25px;
					}
				}
			}
		}
		.call-us{
			ul{
				a{
					margin-top: 20px;
					display: block;
					height: 50px;
					border: 1px solid $primary;
					padding: 0 16px;
					text-align: left;
					line-height: 50px;
					text-decoration: none;
					color: $primary;
					font-size: 18px;
					font-weight: 600;
					i{
						float: right;
					}
					transition: all .25s ease-out;
					cursor: pointer;
					&:hover{
						color: #fff;
						background:$darker;
					}
				}
			}
			.faq{
				margin-top: 90px;
				background:$primary;
				height: 150px;
				color: #fff;
				display: block;
				line-height: 150px;
				font-weight: 400;
				cursor: pointer;
				font-size: 40px;
				@media screen and (max-width: $tablet){
					height: 220px;
					line-height: 220px;
				}
				
			}
			@media screen and (max-width: 767px){
				.faq{
					display: none;	
				}
				
			}
		}
		.contact-us{
			.row{
				margin-bottom: 20px;
			}
			.col{
				&:first-of-type{
					margin-right: 5px;
				}
				&:last-of-type{
					margin-left: 5px;
				}

			}
			.fph-input{
				width: 100%;
			}
			.fph-input .ph{
				font-size: 16px;
			}
			input,textarea{
				display: block;
				width: 100%;
				box-sizing:border-box;
				border:1px solid $primary;
				height: 52px;
				line-height: 52px;
				background:transparent;
				text-align: center;
				font-size: 16px;
				font-family: 'Open Sans';
				color: $primary;
				font-weight: 600;
				outline: none;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					font-style: italic;
					font-weight: 400;
					font-size: 15px;
					color: #a9a9a9;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					font-style: italic;
					font-weight: 400;
					font-size: 15px;
					color: #a9a9a9;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					font-style: italic;
					font-weight: 400;
					font-size: 15px;
					color: #a9a9a9;
				}
			}
			textarea{
				height: 260px;
				margin-bottom: 20px;
			}
			[type=submit]{
				width: 240px;
				margin: 0 auto;
				font-weight: 600;
				font-size: 20px;
				height: 50px;
				line-height: 46px;
				transition:all .25s ease-out;
				&:hover{
					cursor: pointer;
					background:$primary;
					color: #fafafa;
				}
			}
			.also{
				margin-top: 90px;
				border: 1px solid #afafaf;
				height: 150px;
				box-sizing:border-box;
				padding: 25px 30px;
				h5{
					margin-bottom: 15px;
				}
				line-height: 20px;
				span{
					color: $primary;
					font-weight: 600;
					font-size: 15px;
				}
				a{
					color: #777777;
					font-size: 15px;
					transition: all .24s ease-out;
					font-weight: 600;
					text-decoration: none;
					&:hover{
						color: $darker;
					}
				}
			}
			.faq{
				display: none;
			}
			.thankyou{
				height: 476px;
				text-align: center;
				// flex-direction: columns;
				display: flex;
				justify-content: center;
				align-items:center;
				font-size: 20px;
				color: $primary;
				text-transform: uppercase;
				&>div{
					max-width: 250px;
				}
			}
			
		}
		.follow-us{
			margin-top: 150px;
			svg{
				transform: translateX(5px);
				path{
					fill:$primary;
				}
				margin-bottom: 5px;
			}
			a{
				color: $primary;
				text-transform: uppercase;
				font-weight: 600;
				text-decoration: none;
				line-height: 20px;
			}
		}
		@media screen and (max-width: $tablet){
			.contact-us{
				textarea{
					height: 268px;
				}
				[type=submit]{
					width: 100%;
					height: 52px;
				}
				.also{
					height: 220px;
				}
			}
		}
		@media screen and (max-width: 767px){
			.row{
				display: block;
				.col{
					margin: 0!important;
				}
			}
			.call-us{
				.faq{
					display: none;
				}
			}
			.contact-us{
				&>h5{
					margin-top: 40px;
				}
				.row{
					margin-bottom: 30px;
				}
				.fph-input{
					clear: left;
					margin-bottom: 30px;
				}

				.faq{
					display: block;
					margin-top: 20px;
					background:$primary;
					height: 150px;
					color: #fff;
					display: block;
					line-height: 150px;
					font-weight: 400;
					cursor: pointer;
					font-size: 40px;
				}
				.dropdown{
					clear: left;
				}
			}
			.follow-us{
				margin-top: 80px;
			}
		}
	}

	.advertising-overlay{
		position: fixed;
		width: 100%;
		
		z-index: 10;
		top: 0;
		overflow-y: scroll;
		height: 100%;
		.closer{
			position: absolute;
			z-index: 1;
			width: 100%;height: 100%;
		}
		.topad{
			width: 100%;
		}
		.holder{
			background:#fff;
			color: #000;
			box-shadow: 0 3px 4px rgba(0,0,0,0.4);
		}
		h3{
			font-size: 30px;
			font-weight: 600;
			margin-bottom: 40px;
			text-transform: uppercase;
			margin-top: -20px;
		}
		.contents{
			padding: 66px;
			font-size: 15px;
			font-weight: 600;
		}
		.main-container{
			position: relative;
			z-index: 11;
		}
		.intouch{
			margin-top: 50px;
			color: $primary;
			font-weight: 600;
			font-size: 20px;
			line-height: 22px;
			a{
				color: $primary;
			}
		}
		.x{
			position: absolute;
			right: 30px;top: 90px;
			cursor: pointer;
			svg{
				transform:scale(1.2);
				path{
					fill:#fff;
				}
			}
		}
		&.ng-hide-remove{
			transition: all .27s ease-out;
			transform:translateY(-100px);
			opacity: 0;
		}
		&.ng-hide-remove-active{
			opacity: 1;
			transform:translateY(0);
		}
		&.ng-hide-add{
			transform:translateY(0);
			opacity: 1;
			transition: all .2s ease-out;
		}
		&.ng-hide-add-active{
			transform:translateY(-100px);
			opacity: 0;
			
		}
	}


	.terms-overlay{
		position: fixed;
		width: 100%;
		
		z-index: 10;
		top: 0;
		overflow-y: scroll;
		height: 100%;
		.closer{
			position: absolute;
			z-index: 1;
			width: 100%;height: 100%;
		}
		.holder{
			background:$primary;
			color: #fff;
			padding: 20px 40px;
			margin: 0 30px;
			box-shadow: 0 3px 4px rgba(0,0,0,0.4);
		}
		h2{
			font-size: 40px;
			font-weight: 600;
			margin-top: 75px;
			margin-bottom: 10px;
		}
		h4{
			font-size: 20px;
			font-weight: 600;
			// max-width: 430px;
			margin: 0 auto;
			color: #fff;
			margin-top: 25px;
			margin-bottom: 25px;
		}
		.main-container{
			position: relative;
			z-index: 11;
		}
		.x{
			position: absolute;
			right: 70px;top: 110px;
			cursor: pointer;
			svg{
				transform:scale(1.2);
				path{
					fill:#fff;
				}
			}
		}
		&.ng-hide-remove{
			transition: all .27s ease-out;
			transform:translateY(-100px);
			opacity: 0;
		}
		&.ng-hide-remove-active{
			opacity: 1;
			transform:translateY(0);
		}
		&.ng-hide-add{
			transform:translateY(0);
			opacity: 1;
			transition: all .2s ease-out;
		}
		&.ng-hide-add-active{
			transform:translateY(-100px);
			opacity: 0;
			
		}
	}

	#about{
		box-shadow: 0 -5px 24px rgba(0,0,0,0.2);
		height: 830px;
		text-align: center;
		background:#fff url('../images/cart.jpg') left bottom no-repeat;
		// background-size: cover;
		h1{
			font-size: 40px;
			font-weight: 600;
			color: #000;
			padding-top: 62px;
		}
		h3{
			font-size: 20px;
			color: #000;
			text-transform: uppercase;
			font-weight: 600;
			line-height: 24px;
			margin-top: 10px;
			margin-bottom: 100px;
		}
		.content{
			width: 500px;
			text-align: left;
			font-weight: 400;
			color: #000;
			font-size: 20px;
			line-height: 25px;
			b{
				text-transform: uppercase;
				margin-top: 110px;
				display: block;
				font-weight: 600;
				margin-bottom: 10px;
			}
			.new{
				margin-right: 30px;
				// margin-top: 30px;
				img{
					height: 80px;
				}
			}
			.mastercard{
				// margin-left: 30px;
				display: inline-block;
				img{
					height: 80px;
				}
				transform:translateY(0px);
			}
		}
		@media screen and (max-width: 767px){
			height: 830px;
			h3{
				margin-bottom: 50px;
			}
			.content{
				width: 420px; 
				margin: 0 auto;
				font-size: 18px;
				p{
					padding-right: 50px;
				}
				b{
					margin-top: 50px;
				}
				.mastercard{
					display: block;
					margin-left: 0;
					margin-top: -60px;
				}
				.united{
					display: block;
					transform: translateY(70px);
				}
			}
		}
		@media only screen and (max-width: 459px){
			.content{
				width: auto;
				p{
					padding-right: 60px;
				}
				.united{
					width: 160px;
				}
				.mastercard{
					width: 70px;
				}
			}
		}
	}

	footer{
		color: #fff;
		background:$primary;
		.main-container{
			padding: 90px 0 80px;
		}
		h3{
			font-size: 40px;
			text-transform: uppercase;
			font-weight: 100;
			line-height: 46px;
			float: left;
		}
		.copy{
			background:$secondary;
			height: 60px;
			line-height: 60px;
			color: #000;
			.main-container{
				padding: 0;
			}
		}
		.tw{
			position: absolute;
			left: 50%;
			margin-top: 10px;
			margin-left: -30px;
			svg{
				path{
					fill:#fff;
				}
			}
		}
		.rightside{
			float: right;
			position: relative;
			width: 390px;
			.book-now{
				height: 60px;
				width: 280px;
				border: 1px solid #fff;
				text-align: center;
				text-transform: uppercase;
				line-height: 60px;
				font-size: 20px;
				float: left;
				transition: all .25s ease-out;
				cursor: pointer;
				&:hover{
					background:#fff;
					color: $primary;
				}
			}
			.back-top{
				float: left;
				margin-left: 40px;
				text-align: center;
				margin-top: -12px;
				cursor: pointer;
				svg{
					transform:translateY(-10px);
					display: inline-block;
					path{fill:#fff;}
				}
				small{
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 600;
					display: inline-block;
				}
				&.ng-hide-remove{
					transition-delay:.5s;
					transition: all .7s ease-out;
					svg{
						transition-delay:.5s;
						transition: all .7s ease-out;
						transform:translateY(-10px) scale(0) rotate(120deg);
					}
				}
				&.ng-hide-remove-active{
					svg{
						transform: translateY(-10px) scale(1) rotate(0deg);
					}
				}
				&.ng-hide-add{
					
				}
				&.ng-hide-add-active{
					
				}
			}
			.links{
				position: absolute;
				width: 100%;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 600;
				display: flex;
				justify-content: space-between;
				top:150px;
				a{
					display: inline-block;
					color: #fff;
					text-decoration: none;
				}
			}
		}

		@media screen and (max-width: $tablet){
			.tw{
				display: none;
			}
			h3{
				font-size: 32px;
			}
			.copy{
				font-size: 14px;
			}
		}

		@media screen and (max-width: 767px){
			.main-container{
				padding: 70px 0;
			}
			h3{
				text-align: center;
				display: block;
				float: none;
			}
			.rightside{
				float: none;
				width: auto;
				.book-now{
					float: none;
					display: block;
					margin: 20px auto;
				}
				.back-top{
					float: none;
					display: block;
					margin-left: 0;
					transform: scale(0.85) translateY(21px);
					margin-top: -12px;
					svg{
						transform: translateY(-2px);
					}
				}
				.links{
					top: 190px;
				}
			}
			.copy{
				text-align: center;
			}

		}
		@media only screen and (max-width: 459px){
			.rightside .links{
				font-size: 11px;
			}
			.copy{
				font-size: 10px;
			}
			// .rightside{
			// 	.back-top{

			// 	}
			// }
		}
	}

}