#landing{
	
	#bar{
		position: fixed;
		z-index: 9999;
		top: 0;
		width: 100%;
		height: 60px;
		background:transparent;
		border-bottom:2px solid white;
		transition: all .3s ease-out;

		.menu{
			float: right;
			line-height: 60px;
			ul{
				float: left;
				li{
					line-height: 44px;
					margin-top: 8px;
					margin-bottom: 8px;
					float: left;
					padding-right: 25px;
					margin-right: 24px;
					border-right: 1px solid transparent;
				}
			}
			a{
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 11px;
				font-weight: 500;
				transition: all .3s ease-out;
			}
			.lang{
				float: left;
				color: #fff;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 500;
				border: 1px solid $darker;
				height: 24px;
				line-height: 22px;
				margin-top: 19px;
				padding: 0 5px;
				box-sizing:border-box;
				cursor: pointer;
				transition: all .3s ease-out;
				svg{
					transform:translateY(-1px);
					margin-left: 1px;
					margin-right: 1px;
					path{
						fill:$primary;
					}
				}
			}
		}

		&.scrolled{
			background:#fff;
			box-shadow: 0 2px 7px rgba(0,0,0,0.5);
			.menu{
				li{
					border-right:1px solid #dcdcdc;
				}
				a{
					color: #000;
				}
				.lang{
					color: #000;
				}
			}
		}
	}

	#cover{
		background:transparent url('../images/bg.jpg') center top no-repeat;
		background-size: cover;
		width: 100%;
		height: 700px;
	}

	.sidestuff{
		position: absolute;
		right: 0;
		bottom: 120px;
		//+40 right padding to all 3 el
		.quote{
			background:#fff;
			padding-right: 60px;
			padding-left: 18px;
			height: 34px;
			line-height: 36px;
			font-size: 15px;
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: none;
			color: #000;
			display: block;
			float: right;
		}
		.journey{
			background:$primary;
			padding-right: 60px;
			padding-left: 25px;
			padding-top: 20px;
			padding-bottom:20px;
			width: 420px;
			color: #fff;
			float: right;
			clear: right;
			box-shadow: 0 1px 11px rgba(0,0,0,0.7);
			position: relative;
			z-index: 3;
			h1{
				font-size: 40px;
				line-height: 45px;
				font-weight: 300;
				text-transform: uppercase;
			}
			p{
				margin-top: 7px;
				line-height: 23px;
				font-size: 20px;
				font-weight: 500;
			}
		}
		.book-now{
			float: right;
			clear: right;
			background:#fff;
			height: 56px;
			line-height: 56px;
			width: 420px;
			color: #000;
			box-sizing:border-box;
			padding-left: 35px;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 500;
			cursor: pointer;
			svg{
				margin-left: 10px;
				transform: translateY(-1px);
				path{
					fill: $primary;
				}
			}
			transition: all .3s ease-out;
			&:hover{
				transform:translateX(7px);
			}
		}

		&.ng-hide-remove{
			transition: all 1.5s;
			.animation-container{
				transition: all .7s cubic-bezier(0.335, 0.310, 0.020, 0.940);
				transform: translateX(506px);
			}
			.quote{
				transition: all .5s ease-out;
				transition-delay:1.1s;
				transform:translateY(35px);
			}
			.book-now{
				transition: all .5s ease-out;
				transition-delay: .6s;
				transform:translateY(-60px);
			}
		}
		&.ng-hide-remove-active{
			.animation-container{
				transform:translateX(0);
			}
			.quote,.book-now{
				transform: translateY(0);
			}
		}
		&.ng-hide-add{
			transition: all .7s;
			.quote{
				transition: all .2s ease-in;
				transition-delay: .25s;
			}
			.journey{
				transition: all .3s ease-in;
				transition-delay: .3s;
			}
			.book-now{
				transition: all .4s ease-in;
			}
		}
		&.ng-hide-add-active{
			.quote{
				transform:translateX(180px);
			}
			.journey{
				transform:translateX(506px);
			}
			.book-now{
				transform:translateX(420px);
			}
		}
	}
	.initial-hider{
		display: none;
		&.inited{
			display: block;
		}
	}
	.login{
		position: fixed;
		z-index: 99999;
		height: 100%;
		width: 100%;
		right: 0;
		top: 0;
		.bg{
			position: absolute;
			width: 100%;
			height: 100%;
			background:rgba(0,0,0,0.5);
		}
		.sidebar{
			background:$primary;
			display: flex;
			align-items: center;
			width: 300px;
			height: 100%;
			padding: 0 70px;
			color: #fff;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
		}
		.close{
			position: absolute;
			top: 20px;
			left: 30px;
			width: 40px;height: 40px;
			cursor: pointer;
			svg{
				transform:scale(1.7);
				path{
					fill:#fff;
				}
			}
		}
		.contents{
			height: 520px;
			text-align: center;
		}
		h1{
			font-size: 40px;
			font-weight: 300;
		}
		p{
			font-size: 20px;
			margin-top: 12px;
		}
		form{
			margin-top: 90px;
			width:240px;
			margin-left: auto;
			margin-right: auto;
			input:not([type=checkbox]){
				border: 1px solid #fff;
				background:transparent;
				width: 100%;
				height: 45px;
				box-sizing:border-box;
				text-align: center;
				color: #fff;
				outline:none;
				font-family: museosans;
				font-size: 16px;
				// transition: all .24s ease-out;
				// &:focus{
				// 	background:#fff;
				// 	color: $primary;
				// }
				&[type=email]{
					margin-bottom: 20px;
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  text-align: center;
				  font-family: museosans;
				  font-style: italic;
				  font-size: 15px;
				  color: #2b797d;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  text-align: center;
				  font-family: museosans;
				  font-style: italic;
				  font-size: 15px;
				  color: #2b797d;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  text-align: center;
				  font-family: museosans;
				  font-style: italic;
				  font-size: 15px;
				  color: #2b797d;
				}
			}
			.forgot{
				font-size: 12px;
				color: #1c5355;
				font-weight: 300;
				text-decoration: none;
				float: right;
				font-style: italic;
				margin-top: 10px;
			}
			p{
				position: relative;
				width: 100%;
				display: block;
				clear: both;
				text-align: left;
				margin-top: 60px;

				[type="checkbox"]:not(:checked),
				[type="checkbox"]:checked {
					position: absolute;
					left: -9999px;
				}
				[type="checkbox"]:not(:checked) + label,
				[type="checkbox"]:checked + label {
					font-size: 12px;
					padding-left: 22px;
					color: #1c5355;
					font-style: italic;
					font-weight: 300;
					cursor: pointer;
				}

				[type="checkbox"]:not(:checked) + label:before,
				[type="checkbox"]:checked + label:before {
					content: '';
					position: absolute;
					left:0; top: 4px;
					width: 13px; height: 13px;
					border: 1px solid #fff;
					background: transparent;
				}
				/* checked mark aspect */
				[type="checkbox"]:not(:checked) + label:after,
				[type="checkbox"]:checked + label:after {
					content: '✔';
					position: absolute;
					top: 3px; left: 1px;
					font-size: 18px;
					line-height: 0.8;
					color: #fff;
					transition: all .2s;
				}
				/* checked mark aspect changes */
				[type="checkbox"]:not(:checked) + label:after {
					opacity: 0;
					transform: scale(0);
				}
				[type="checkbox"]:checked + label:after {
					opacity: 1;
					transform: scale(1);
				}
			}

			input[type=submit]{
				margin-top: 20px;
				font-size: 18px;
				font-family: museosans;
				font-weight: 300;
				cursor: pointer;
				transition: all .25s ease-out;
				&:hover{
					background:#fff;
					color: $primary;
				}
			}

			.btn{
				width: 100%;
				height: 45px;
				box-sizing:border-box;
				border: 1px solid #fff;
				line-height: 44px;
				text-transform: uppercase;
				margin-top: 14px;
				font-weight: 300;
				cursor: pointer;
				transition: all .25s ease-out;
				&:hover{
					background:#fff;
					color: $primary;
				}
			}
		}
		&.ng-hide-remove{
			//cubic-bezier(1.000, 0.450, 0.300, 0.780)
			//cubic-bezier(0.840, 0.335, 0.380, 0.910)
			transition: all 1.4s;
			.sidebar{
				transition: all .5s cubic-bezier(1.000, 0.450, 0.300, 0.780);
				transition-delay: .5s;
				transform: translateX(440px);
			}
			.bg{
				transition: all .3s;
				transition-delay:.7s;
				opacity: 0;
			}
			.contents{
				transition: all .4s cubic-bezier(0.290, 0.600, 0.360, 0.885);
				transition-delay: .8s;
				transform: translateX(100px);
				opacity: 0;
			}
		}
		&.ng-hide-remove-active{
			.sidebar{
				transform: translateX(0);
			}
			.bg{
				opacity: 1;
			}
			.contents{
				transform:translateX(0);
				opacity: 1;
			}
		}
		&.ng-hide-add{
			transition: all .5s;
			.sidebar{
				transition: all .4s ease-in;
			}
			.bg{
				transition: all .4s ease-in;
			}
		}
		&.ng-hide-add-active{
			.sidebar{
				transform: translateX(440px);
			}
			.bg{
				opacity: 0;
			}
		}
	}



	#services{
		background:$primary;
		color: #fff;
		text-align: center;
		padding-top: 100px;
		padding-bottom: 130px;
		h1{
			font-weight: 500;
			font-size: 40px;
			text-transform: uppercase;
		}
		h3{
			font-size: 20px;
			font-weight: 500;line-height: 25px;
			text-transform: uppercase;
			margin-top: 10px;
			margin-bottom: 100px;
		}
		.tabs{
			display: flex;
			// margin-bottom: 10px;
			.tab{
				height: 111px;
				margin: 0 5px;
				flex:1;
				background:#31989d;
				line-height: 110px;
				text-transform: uppercase;
				font-size: 20px;
				font-weight: 300;
				// transition: all .25s ease-out;
				margin-bottom: 9px;
				cursor: pointer;
				&.current{
					margin-bottom: 0;
					background:#297a7d;
					height: 120px;
					font-size: 30px;
					box-shadow: 2px 7px 8px rgba(0,0,0,0.4);
				}
				&:first-of-type{
					margin-left: 0;
				}
				&:last-of-type{
					margin-right: 0;
				}
			}
		}
		.tab-content{
			background:#297a7d;
			position: relative;
			z-index: 10;
			padding: 100px 50px;
			box-shadow: 2px 7px 8px rgba(0,0,0,0.4);
			.content{
				display: flex;
			}
			.img{
				width: 300px;
				svg{
					path{
						fill:#fff;
					}
				}
			}
			.text{
				padding-left: 30px;
				text-align: left;
				flex:1;
			}
		}
		.book-now{
			float: right;
			background:#fff;
			width: 360px;height: 80px;
			color: #000;
			line-height: 80px;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 20px;
			box-shadow: 2px 6px 8px rgba(0,0,0,0.3);
			cursor: pointer;
			position: relative;
			z-index: 5;

		}
		.tab-label{
			position: absolute;
			left: 0;
			margin-top: -29px;
			margin-left: 100px;
			font-weight: 700;
			color: #3d96a2;
			font-size: 120px;
			text-transform: uppercase;
			&.smaller{
				font-size: 100px;
				margin-top: -20px;
			}
			&.ng-hide-remove{
				transition: all .25s ease-out;
				transform: translateY(-30px);
				opacity: 0;
			}
			&.ng-hide-remove-active{
				opacity: 1;
				transform:translateY(0);
			}
			&.ng-hide-add{
				transition: all .25s ease-out;
			}
			&.ng-hide-add-active{
				transform: translateY(-30px);
				opacity: 0;
			}
		}
	}

	#quote{
		background:$primary;
		padding: 150px 0;

		background-image: url(../images/world.jpg);
		background-position: center;

		.quote-box{
			width: 500px;
			margin: 0 auto;
			background:#fff;
			box-shadow:2px 2px 5px rgba(0,0,0,0.5);
			padding: 40px;
			box-sizing:border-box;
			text-align: center;

			h1{
				font-size: 30px;
				font-weight: 500;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			p{
				font-size: 15px;
				font-weight: 300;
				line-height: 20px;
				margin-bottom: 45px;
			}
			.type-selector{
				position: relative;
				.type-dash{
					position: absolute;
					height: 6px;
					background:$primary;
					top: 23px;
					transition: all .4s ease-out;
					&.float-1{
						left: 0;
					}
					&.float-2{
						left: 50%;
					}
					// &.float-3{
					// 	right: 0;
					// }
				}
			}
			.types{
				width: 100%;
				border-bottom: 1px solid #7e7e7e;
				margin-bottom: 40px;
				display: flex;
				justify-content: space-between;
				padding-bottom: 8px;
				height: 20px;
				.type{
					font-weight: 500;
					color: #a5a5a5;
					margin: auto;
					display: inline-block;
					font-size: 20px;
					text-transform: uppercase;
					cursor: pointer;
					transition: all .25s ease-out;
					transform: scale(0.85);
					&:first-of-type{
						margin-left: 0;
						position: absolute;
						left: 0;
					}
					&:last-of-type{
						margin-right: 0;
						position: absolute;
						right: 0;
					}
					&.current{
						transform:scale(1);
						// font-size: 20px;
						color: #3cb2b7;
					}
				}
			}

			form{
				input{
					border:1px solid $primary;
					height: 50px;
					line-height: 50px;
					font-size: 18px;
					font-weight: 300;
					font-family: museosans;
					color: $primary;
					width: 40px;
					box-sizing:border-box;
					text-align: center;
					font-weight: 500;
					outline:none;
					// 9e9f9e
					&::-webkit-input-placeholder {
						color: #9e9e9e;
						text-align: center;
						font-style: italic;
						font-weight: 300;
					}
					&::-moz-placeholder{

					}
					&:-ms-input-placeholder {
					}
				}
				.dest-input{
					float: left;
					position: relative;
					z-index: 2;
					margin-right: 10px;
					input{
						width: 218px;
					}
				}
				.date{
					.fph-input{
						margin-right: 5px;

						&:first-of-type{
							margin-left: 10px;
						}
					}
					.btn{
						float: right;
						width: 36px;
						margin-left: -5px;
						cursor: pointer;
						svg{
							transform:translateY(-2px);
							path{
								fill:$primary;
							}
						}
						small{
							font-size: 9px;
							text-transform: uppercase;
							font-weight: 500;
							color: $primary;
							line-height: 9px;
							display: inline-block;
							margin-top: 0px;
						}
					}
					position: relative;
					.datepicker-holder{
						position: absolute;
						top: 28px;
						background:#fff;
						z-index: 10;
						border:1px solid $primary;
						right: 2px;
					}
				}
				.dropdown{
					margin-top: 20px;
					.input{
						font-size: 18px;
						font-weight: 500;
					}
				}
				.dropdown.passangers{
					position: relative;
					.overlay{
						position: absolute;
						width: 100%;
						height: 250px;
						border:1px solid $primary;
						top: 0px;
						box-sizing:border-box;
						background:#fff;
						z-index: 2;
						overflow: hidden;
						.cap{
							color: #9e9f9e;
							font-weight: 500;
							font-size: 12px;
							text-transform: uppercase;
							margin-top: 15px;
						}
						.num-input{
							width: 250px;
							margin: 15px auto 0;
							position: relative;
							height: 35px;
							.plus,.minus{
								color: $primary;
								font-size: 30px;
								font-weight: 100;
								position: absolute;
								cursor: pointer;
							}
							.plus{
								left: 0;
							}
							.minus{
								right: 0;
							}
							.content{
								position: absolute;
								left: 100px;
								text-align: left;
								top: 4px;
								.num{
									font-weight: 300;
									font-size: 30px;
									color: $primary;
									float: left;
									margin-right: 10px;
								}
								b{
									color: #3e3e3e;
									font-size: 12px;
									font-weight: 500;
									display: inline-block;
								}
								small{
									color: #9e9f9e;
									font-weight: 500;
									font-size: 10px;
									display: inline-block;
									transform:translateY(-5px);
								}
							}
						}
						.ok{
							width: 182px;
							background:$primary;
							color: #fff;
							font-weight: 500;
							height: 40px;
							margin: 15px auto 0;
							text-transform: uppercase;
							line-height: 40px;
							cursor: pointer;
						}

						&.ng-hide-remove{
							transition: all .4s ease-out;
							height: 52px;
							.cap{
								transition: all .4s ease-out;
								color: $primary;
								font-size: 18px;
								margin-bottom: 20px;
								margin-top: 17px;
							}
						}
						&.ng-hide-remove-active{
							height: 250px;
							.cap{
								font-size: 12px;
								margin-bottom: 0;
								margin-top: 15px;
							}
						}
						&.ng-hide-add{
							transition: all .4s ease-out;
							.cap{
								transition: all .4s ease-out;
							}
						}
						&.ng-hide-add-active{
							height: 52px;
							.cap{
								color: $primary;
								font-size: 18px;
								margin-bottom: 20px;
								margin-top: 17px;
							}
						}
					}
				}
				.promo{
					float: right;margin-top: 13px;
					color: #9e9f9e;
					font-size: 15px;
					cursor: pointer;
				}
				.promo-input{
					width: 100%;
					margin-top: 20px;
				}


				input[type=submit]{
					width: 100%;height: 52px;
					font-weight: 500;
					color: #fff;
					border:none;
					text-transform: uppercase;
					margin-top: 27px;
					font-size: 20px;
					&:disabled{
						background:#afafaf;
					}
				}
			}
		}
	}


	#support{
		text-align: center;
		padding: 80px 0;
		background:#fff;
		h1{
			color: $darker;
			font-weight: 500;
			text-transform: uppercase;
			font-size: 40px;
		}
		h4{
			color: $darker;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 500;
			line-height: 22px;
			margin-top: 5px;
			margin-bottom: 30px;
		}
		p{
			font-size: 20px;
			font-weight: 300;
			// padding: 0 100px;
			max-width:800px;
			margin: 0 auto;
		}
		.heart{
			margin-top: 60px;
			margin-bottom: 30px;
			svg{
				path{
					fill:$primary;
				}
			}
		}
		.row{
			display: flex;
			.col{
				h5{
					color: $darker;
					text-transform: uppercase;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;
					margin-bottom: 50px;
				}
				flex:1;
				&:first-of-type{
					margin-right: 65px;
					h5{
						margin-top: 12px;
					}
				}
				&:last-of-type{
					margin-left: 65px;
				}
			}
		}
		.call-us{
			ul{
				a{
					margin-top: 20px;
					display: block;
					height: 50px;
					border: 1px solid $darker;
					padding: 0 16px;
					text-align: left;
					line-height: 50px;
					text-decoration: none;
					color: $primary;
					font-size: 18px;
					font-weight: 500;
					i{
						float: right;
					}
					transition: all .25s ease-out;
					cursor: pointer;
					&:hover{
						color: #fff;
						background:$darker;
					}
				}
			}
			.faq{
				margin-top: 90px;
				background:$darker;
				height: 150px;
				color: #fff;
				display: block;
				line-height: 150px;
				font-weight: 300;
				cursor: pointer;
				font-size: 40px;
			}
		}
		.contact-us{
			.row{
				margin-bottom: 20px;
			}
			.col{
				&:first-of-type{
					margin-right: 5px;
				}
				&:last-of-type{
					margin-left: 5px;
				}

			}
			.fph-input{
				width: 100%;
			}
			.fph-input .ph{
				font-size: 16px;
			}
			input,textarea{
				display: block;
				width: 100%;
				box-sizing:border-box;
				border:1px solid $primary;
				height: 52px;
				line-height: 52px;
				background:transparent;
				text-align: center;
				font-size: 16px;
				font-family: museosans;
				color: $primary;
				font-weight: 500;
				outline: none;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					font-style: italic;
					font-weight: 300;
					font-size: 15px;
					color: #a9a9a9;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					font-style: italic;
					font-weight: 300;
					font-size: 15px;
					color: #a9a9a9;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					font-style: italic;
					font-weight: 300;
					font-size: 15px;
					color: #a9a9a9;
				}
			}
			textarea{
				height: 260px;
				margin-bottom: 20px;
			}
			[type=submit]{
				width: 240px;
				margin: 0 auto;
				font-weight: 500;
				font-size: 20px;
				height: 50px;
				line-height: 46px;
				transition:all .25s ease-out;
				&:hover{
					cursor: pointer;
					background:$primary;
					color: #fafafa;
				}
			}
			.also{
				margin-top: 90px;
				border: 1px solid #afafaf;
				height: 150px;
				box-sizing:border-box;
				padding: 25px 30px;
				h5{
					margin-bottom: 15px;
				}
				line-height: 20px;
				span{
					color: $darker;
					font-weight: 500;
					font-size: 15px;
				}
				a{
					color: #777777;
					font-size: 15px;
					transition: all .24s ease-out;
					font-weight: 500;
					text-decoration: none;
					&:hover{
						color: $darker;
					}
				}
			}
		}
		.follow-us{
			margin-top: 150px;
			svg{
				transform: translateX(5px);
				path{
					fill:$darker;
				}
				margin-bottom: 5px;
			}
			a{
				color: $darker;
				text-transform: uppercase;
				font-weight: 500;
				text-decoration: none;
				line-height: 20px;
			}
		}
	}

	#about{
		box-shadow: 0 -5px 24px rgba(0,0,0,0.2);
		height: 830px;
		text-align: center;
		background:#fff url('../images/cart.jpg') left bottom no-repeat;
		// background-size: cover;
		h1{
			font-size: 40px;
			font-weight: 500;
			color: #a9a9a9;
			padding-top: 62px;
		}
		h3{
			font-size: 20px;
			color: #000;
			text-transform: uppercase;
			font-weight: 500;
			line-height: 24px;
			margin-top: 10px;
			margin-bottom: 100px;
		}
		.content{
			width: 500px;
			text-align: left;
			font-weight: 300;
			color: #000;
			font-size: 20px;
			line-height: 25px;
			b{
				text-transform: uppercase;
				margin-top: 110px;
				display: block;
				font-weight: 500;
				margin-bottom: 10px;
			}
			.mastercard{
				margin-left: 35px;
				display: inline-block;
				transform:translateY(13px);
			}
		}
	}

	footer{
		color: #fff;
		background:$primary;
		.main-container{
			padding: 90px 0 80px;
		}
		h3{
			font-size: 40px;
			text-transform: uppercase;
			font-weight: 100;
			line-height: 46px;
			float: left;
		}
		.copy{
			background:#000;
			height: 60px;
			line-height: 60px;
			color: #777777;
			.main-container{
				padding: 0;
			}
		}
		.tw{
			position: absolute;
			left: 50%;
			margin-top: 10px;
			margin-left: -30px;
			svg{
				path{
					fill:#fff;
				}
			}
		}
		.rightside{
			float: right;
			position: relative;
			width: 390px;
			.book-now{
				height: 60px;
				width: 280px;
				border: 1px solid #fff;
				text-align: center;
				text-transform: uppercase;
				line-height: 60px;
				font-size: 20px;
				float: left;
				transition: all .25s ease-out;
				cursor: pointer;
				&:hover{
					background:#fff;
					color: $primary;
				}
			}
			.back-top{
				float: left;
				margin-left: 40px;
				text-align: center;
				margin-top: -12px;
				cursor: pointer;
				svg{
					transform:translateY(-10px);
					display: inline-block;
					path{fill:#fff;}
				}
				small{
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 500;
					display: inline-block;
				}
				&.ng-hide-remove{
					transition-delay:.5s;
					transition: all .7s ease-out;
					svg{
						transition-delay:.5s;
						transition: all .7s ease-out;
						transform:translateY(-10px) scale(0) rotate(120deg);
					}
				}
				&.ng-hide-remove-active{
					svg{
						transform: translateY(-10px) scale(1) rotate(0deg);
					}
				}
				&.ng-hide-add{
					
				}
				&.ng-hide-add-active{
					
				}
			}
			.links{
				position: absolute;
				width: 100%;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 500;
				display: flex;
				justify-content: space-between;
				top:150px;
				a{
					display: inline-block;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

}