// bower:scss
// endbower

@import "fonts.scss";
@import "reset.scss";
// @import "foundation.scss";

$primary: #43b2b6;
$darker: #34a7ac;
$lighter: #2da7ad;

//widths
$tablet: 1023px;
$mid: 767px;

body {
	background:#2e2e2e;
	-webkit-font-smoothing: antialiased;
	font-family: 'museosans', Helvetica, Arial, sans-serif;
	color: #333;
	font-weight: 300;
}
input{
	outline:none;
}
.clearfix{
	width: 100%;
	clear: both;
	height: 1px;
}
a{
	text-decoration: none;
	outline:none;
	cursor: pointer;
}

.main-container{
	width: 1130px;
	margin: 0 auto;
	position: relative;
	@media screen and (max-width: 1023px){
		width: 720px;
	}
	@media screen and (max-width: 767px){
		width: 450px;
	}
	@media only screen and (max-width: 459px){
		width: auto;
		margin: 0 20px;
	}
}

.dropdown{
	// margin-top: 20px;
	.input{
		border:1px solid $primary;
		height: 52px;
		text-align: center;
		color: $primary;
		font-weight: 300;
		text-transform: uppercase;
		line-height: 52px;
		font-size: 15px;
		position: relative;
		cursor: pointer;
		box-sizing:border-box;
		svg{
			position: absolute;
			right: 20px;
			top: 50%;
			transform:scale(2.4) translateY(-1px);
			path{
				fill:$primary;
			}
		}
	}
	position: relative;
	.overlay{
		position: absolute;
		width: 100%;
		border: 1px solid $primary;
		box-sizing:border-box;
		background:#fff;
		z-index: 10;
		top: 0;
		.ph{
			text-transform: uppercase;
			color: #9e9f9e;
			font-weight: 500;
			font-size: 12px;
			margin-top: 15px;
		}
		ul{
			padding: 10px 0;
			li{
				color: $primary;
				padding: 10px 0;
				transition: all .3s ease-out;
				font-weight: 500;
				&:hover{
					cursor: pointer;
					background:$primary;
					color: #fff;
				}
			}
		}
	}
}

.scrollview{
	overflow-y: scroll;
}

.fph-input{
	position: relative;
	float: left;
	.ph{
		cursor: text;
		position: absolute;
		width: 100%;text-align: center;
		font-style: italic;
		font-size: 18px;
		line-height: 50px;
	  	color: #9e9e9e;
	  	transition: all .3s ease-out;
	}
	&.focused{
		.ph{
			transform:translateY(-35px) scale(0.8);
		}
	}
}
[date-picker] span{
	transition:all .15s ease-out;
	display: inline-block;
	box-sizing:border-box;
	border:1px solid transparent;
}
[date-picker] span:hover {
  background: #fff!important;
  border-radius:0!important;
  border:1px solid $primary;
}
[date-picker] .now, [date-picker] .now:hover, [date-picker] .now:active, [date-picker] .now.active, [date-picker] .now.disabled, [date-picker] .now[disabled]{
	background:#ee905b;
	border-radius:0;
}
[date-picker] .active:hover, [date-picker] .now:hover, [date-picker] .active:active, [date-picker] .now:active, [date-picker] .active.active, [date-picker] .now.active, [date-picker] .active.disabled, [date-picker] .now.disabled, [date-picker] .active[disabled], [date-picker] .now[disabled]{
	background:$primary;
	border-radius: 0;
}
@import "landing.scss";
@import "booking.scss";
@import "my.scss";