#my{
	background:#2e2e2e;
	position: absolute;
	width: 100%;
	height: 100%;
	// .bar-wrapper{
	// 	position: fixed;
	// 	width: 100%;
	// 	top: 0;
	// 	z-index: 15;
	// }
	#bar{
		height: 60px;
		background:#fff;
		width: 100%;
		padding-top: 13px;
		box-sizing:border-box;
		position: relative;
		z-index: 14;
		.gac{
			border: 1px solid #000;
			float: left;
			padding: 3px 8px 2px;
			svg{
				path{
					fill:#000;
				}
			}
		}
		.rightside {
			float: right;
			font-size: 12px;
			font-weight: 500;
			cursor: pointer;
			svg{
				transform: translateY(5px);
				margin-left: 10px;
				path{
					fill:$primary;
				}
			}
		}
		.menu{
			background:$primary;
			position: absolute;
			right: 0;
			top: 60px;
			box-shadow: -2px 2px 4px rgba(0,0,0,0.3);
			ul{
				color: #fff;
				text-transform: uppercase;
				font-size: 15px;
				font-weight: 500;
				line-height: 30px;
				text-align: right;
				padding-top: 15px;
				
				padding-bottom: 10px;
				small{
					font-size: 10px;
					margin-top: -5px;
					display: block;
					color: #d9d9d9;
				}
			}
			li{
				padding-left: 20px;
				cursor: pointer;
				&:hover{
					background:$darker;
				}
			}
			&.ng-hide-remove{
				transition: all .45s cubic-bezier(0.335, 0.310, 0.020, 0.940);
				transform: translateX(100%);
			}
			&.ng-hide-remove-active{
				transform: translateX(0);
			}
			&.ng-hide-add{
				transform: translateX(0);	
				transition: all .3s ease-out;
			}
			&.ng-hide-add-active{
				transform: translateX(100%);
			}
		}
	}
	.stripe{
		background:$primary;
		height: 25px;
		a{
			float: right;
			font-size: 15px;
			font-weight: 500;
			text-transform: uppercase;
			line-height: 25px;
			color: #000;
		}
	}
	.tabs{
		background:#dedede;
		height: 80px;
		.inner-container{
			display: flex;
			justify-content: space-between;
			.tab{
				font-weight: 500;
				cursor: pointer;
				text-transform: uppercase;
				color: #656464;
				font-size: 18px;
				margin-top: 46px;
				&.current{
					color: $primary;
					font-size: 20px;
					padding-bottom: 7px;
					border-bottom: 7px solid $primary;
				}
			}
		}
		.mobile-dropdown{
			display: none;
		}
		@media screen and (max-width: $tablet){
			.inner-container{
				display: none;
			}
			height: 60px;
			.mobile-dropdown{
				display: block;
				text-transform: capitalize;
				width: 300px;
				margin: 0 auto;
				height: 60px;
				color: $primary;
				position: relative;
				text-align: center;
				font-size: 30px;
				line-height: 60px;
				svg{
					position: absolute;
					right: 30px;
					top: 30px;
					transform:scale(2);
					path{
						fill:$primary;
					}
				}
				select{
					position: absolute;
					opacity: 0;
					width: 100%;
					height: 100%;
					top: 0;left: 0;
				}
			}
		}
	}
	.inner-container{
		width: 1064px;
		margin: 0 auto;
		@media screen and (max-width: $tablet){
			width: 300px;
		}
	}
	.inner-view{
		// margin-top: 164px;
	}

	.my-passengers{
		// padding-top: 50px;
		.top-strip{
			margin-top: 50px;
		}
		.abc{
			font-size: 25px;
			text-transform: uppercase;
			color: #fff;
			float: left;
			span{
				display: inline-block;
				padding-right: 5px;
				cursor: pointer;
				&.current{
					border-bottom:3px solid $primary;
				}
			}
		}
		.add-btn{
			background:$primary;
			color: #fff;
			height: 36px;
			float: right;
			padding: 0 36px;
			line-height: 36px;
			margin-top: -7px;
			text-transform: uppercase;
			font-size: 20px;
			cursor: pointer;
		}
		.inner-view{
			// margin-top: 190px;
		}

		ul{
			border: 1px solid #a7a7a7;
			margin-top: 20px;
			margin-bottom: 50px;
			li{
				padding-left: 27px;
				border-bottom: 1px solid #a7a7a7;
				position: relative;
				&:last-of-type{
					border-bottom: none;
				}
				.section{
					width: 300px;
					float: left;
					padding-top: 28px;
				}

				.btn{
					border-left:1px solid #a7a7a7;
					width: 178px;
					position: absolute;
					right: 0;top: 0;
					height: 78px;
					text-align: center;
					line-height: 78px;
					text-transform: uppercase;
					color: $primary;
					font-size: 15px;
					cursor: pointer;
				}
				.collapsed-row{
					height: 78px;
					color: #6e6d6d;
					font-size: 20px;
					position: relative;
					.section{
						&:first-of-type{
							color: #2da7ad;
							font-weight: 500;
						}
					}
				}
				.expanded-row{
					.cap{
						color: #868585;
						font-size: 10px;
						font-weight: 500;
						font-style: italic;
						text-transform: uppercase;
					}
					input{
						background:transparent;
						border:none;
						color: $primary;
						font-size: 20px;
						padding: 0;
					}
					input,textarea{
						outline: none;
					}
					.notes{
						float: left;
						margin-top: 20px;
						margin-bottom: 10px;
						textarea{
							background:transparent;
							border:none;
							width: 500px;
							padding: 0;
							color: $primary;
							font-size: 15px;
							font-style: italic;
						}
					}
					.btn{
						font-size: 20px;
						height: 101px;
						line-height: 101px;
						&.del{
							border-top:1px solid #a7a7a7;
							color: #e02e2f;
							top: 101px;
						}
					}
				}
			}
		}

	}

	.my-receipts{
		color: #b3b2b3;
		ul{
			border: 1px solid #a7a7a7;
			margin-top: 20px;
			li{
				padding-left: 27px;
				border-bottom: 1px solid #a7a7a7;
				position: relative;
				&:last-of-type{
					border-bottom: none;
				}
				.num{
					float: left;
					height: 77px;
					line-height: 77px;
					width: 180px;
					text-align: center;
					color: $primary;
				}
				.section{
					width: 270px;
					float: left;
					padding-top: 28px;
					.caption{
						font-size: 9px;
						font-weight: 500;
						font-style: italic;
						text-transform: uppercase;
						color: #868585;
					}
				}

				.btn{
					border-left:1px solid #a7a7a7;
					width: 178px;
					position: absolute;
					right: 0;top: 0;
					height: 78px;
					text-align: center;
					line-height: 78px;
					text-transform: uppercase;
					color: $primary;
					font-size: 15px;
					cursor: pointer;
					svg{

						transform: scale(2) rotate(-90deg);
						path{
							fill:$primary;
						}
					}
				}
			}
		}
	}

	.my-profile{

		input{
			width: 100%;
			background:transparent;
			border:1px solid #a7a7a7;
			line-height: 46px;
			height: 46px;
			color: $primary;
			text-align: center;
			font-size: 16px;
		}
		input[type=submit]{
			background:$primary;
			border:none;
			color: #fff;
			font-weight: 500;
			text-transform: uppercase;
			font-size: 20px;
			line-height: 43px;
		}
		form{
			width: 300px;
			margin: 0 auto;
			margin-top: 70px;
			.fph-input{
				width: 100%;
				margin-bottom: 30px;
				.ph{
					text-transform: uppercase;
					font-size: 14px;
				}
			}
		}
		.passwords{
			width: 640px;
			margin: 40px auto;
			.fields{
				display: flex;
				justify-content: space-between;
				// margin-bottom: 20px;
				.fph-input{
					width: 200px;
				}
			}
			.btn{
				width: 300px;
				margin: 30px auto;
				float: none;
				text-align: center;
				background:#585858;
				height: 45px;
				line-height: 44px;
				text-transform: uppercase;
				font-weight: 500;
			}
		}
	}

	.my-support{
		.row{
			display: flex;
			margin-bottom: 50px;
			.col{
				flex:1;
				&:first-of-type{
					margin-right: 45px;
				}
				&:last-of-type{
					margin-left: 45px;
				}
				@media screen and (max-width: $tablet){
					&:first-of-type{
						margin-right: 25px;
						h5{
							margin-bottom: 60px;
						}
					}
					&:last-of-type{
						margin-left: 25px;
					}
				}
			}
		}
		.call-us{
			ul{
				a{
					margin-top: 20px;
					display: block;
					height: 50px;
					border: 1px solid $darker;
					padding: 0 16px;
					text-align: left;
					line-height: 50px;
					text-decoration: none;
					color: $primary;
					font-size: 18px;
					font-weight: 500;
					i{
						float: right;
					}
					transition: all .25s ease-out;
					cursor: pointer;
					&:hover{
						color: #fff;
						background:$darker;
					}
				}
			}
			.faq{
				margin-top: 90px;
				background:$darker;
				height: 150px;
				color: #fff;
				display: block;
				line-height: 150px;
				font-weight: 300;
				cursor: pointer;
				font-size: 40px;
				text-align: center;
				display: none;
				@media screen and (max-width: $tablet){
					height: 220px;
					line-height: 220px;
				}
				
			}
			@media screen and (max-width: 767px){
				.faq{
					display: none;	
				}
				
			}
		}
		.contact-us{
			margin-top: 4px;
			.row{
				margin-bottom: 20px;
			}
			.col{
				&:first-of-type{
					margin-right: 5px;
				}
				&:last-of-type{
					margin-left: 5px;
				}

			}
			.fph-input{
				width: 100%;
			}
			.fph-input .ph{
				font-size: 16px;
			}
			input,textarea{
				display: block;
				width: 100%;
				box-sizing:border-box;
				border:1px solid $primary;
				height: 52px;
				line-height: 52px;
				background:transparent;
				text-align: center;
				font-size: 16px;
				font-family: museosans;
				color: $primary;
				font-weight: 500;
				outline: none;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					font-style: italic;
					font-weight: 300;
					font-size: 15px;
					color: #a9a9a9;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					font-style: italic;
					font-weight: 300;
					font-size: 15px;
					color: #a9a9a9;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					font-style: italic;
					font-weight: 300;
					font-size: 15px;
					color: #a9a9a9;
				}
			}
			textarea{
				height: 269px;
				margin-bottom: 20px;
			}
			[type=submit]{
				width: 240px;
				margin: 0 auto;
				font-weight: 500;
				font-size: 20px;
				height: 50px;
				line-height: 46px;
				transition:all .25s ease-out;
				&:hover{
					cursor: pointer;
					background:$primary;
					color: #fafafa;
				}
			}
			.also{
				margin-top: 90px;
				border: 1px solid #afafaf;
				height: 150px;
				box-sizing:border-box;
				padding: 25px 30px;
				display: none;
				h5{
					margin-bottom: 15px;
					color: #afafaf;
					text-align: center;
					text-transform: uppercase;
				}
				line-height: 20px;
				span{
					color: $darker;
					font-weight: 500;
					font-size: 15px;
				}
				a{
					color: #777777;
					font-size: 15px;
					transition: all .24s ease-out;
					font-weight: 500;
					text-decoration: none;
					&:hover{
						color: $darker;
					}
				}
			}
			.faq{
				display: none;
			}
			.thankyou{
				height: 476px;
				text-align: center;
				// flex-direction: columns;
				display: flex;
				justify-content: center;
				align-items:center;
				font-size: 20px;
				color: $primary;
				text-transform: uppercase;
				&>div{
					max-width: 250px;
				}
			}
		}
	}

	.my-bookings{
		h5{
			font-size: 12px;
			font-weight: 500;
			color: #a9a5a6;
			text-transform: uppercase;
			margin-bottom: 5px;
			margin-top: 30px;
		}
		ul{
			border: 1px solid $primary;
			li{
				.collapsed-row{
					justify-content: space-between;
					display: flex;
					padding-left: 44px;
				}
				&:not(:last-of-type){
					border-bottom: 1px solid $primary;
				}
				.field{
					padding-top: 5px;
					padding-bottom: 20px;
					i{
						font-size: 9px;
						font-weight: 500;
						font-style: italic;
						color: #868585;
					}
					small{
						font-size: 18px;
						font-weight: 100;
						text-transform: none;
						line-height: 20px;
						display: inline-block;
					}
					float: left;
					color: $primary;
					font-weight: 100;
					font-size: 30px;
					text-transform: uppercase;
				}
				sup{
					font-size: 16px;
					text-transform: none;
					transform: translateY(-13px);
					display: inline-block;
				}
				.field svg{
					display: inline-block;
					margin-top: -7px;
					margin-right: 8px;
					margin-left: -2px;
					transform: scale(0.8) translateY(4px);
					path{
						fill:$primary;
					}
				}
				.status{
					width: 180px;
					border-left:1px solid $primary;
					box-sizing:border-box;
					color: $primary;
					font-size: 12px;
					text-align: center;
					font-weight: 500;
					text-transform: uppercase;
					display: flex;
					flex-direction: column;
					justify-content:center;
					position: relative;
					.expander{
						position: absolute;
						right: 30px;
						top: 43px;
						cursor: pointer;
					}
					.field{
						margin-left: 20px;
						small{
							margin: 0;
							display: inline-block;
							font-size: 18px;
							font-weight: 300;
							color: #b9b9b9;
						}
					}
					svg{
						transform: scale(2) translateY(-1px) translateX(4px);
						path{
							fill:$primary;
						}
					}
				}

				.expanded-row{
					color: $primary;
					padding-left: 50px;
					padding-top: 60px;
					padding-bottom: 15px;
					.section{
						float: left;
						&:nth-of-type(1){
							width: 280px;
						}
						&:nth-of-type(2){
							width: 237px;
						}
						&:nth-of-type(3){
							width: 184px;
						}
						&:nth-of-type(4){
							width: 130px;
						}
					}
					.cap{
						font-size: 10px;
						color: #868585;
						font-weight: 500;
						font-style: italic;
						text-transform: uppercase;
					}
					.val{
						font-size: 20px;
						line-height: 30px;
						margin-bottom: 10px;
						sup{
							font-size: 11px;
							transform:translateY(-8px);
						}
					}
					small{
						color: #656565;
						font-size: 12px;
						text-transform: uppercase;
						font-weight: 500;
						display: inline-block;
						display: block;
						margin-top: -10px;
						margin-bottom: -17px;
					}
					position: relative;
					.status{
						position: absolute;
						right: 0;top: 0;
						height: 57px;
						border-bottom: 1px solid $primary;
						border-left:0;
						.expander{
							top:24px
						}
					}
					ul{
						border:none;
						li{
							border:none;
							font-size: 20px;
							margin-top: 5px;
							margin-bottom: 22px;
							.price{
								float: right;
								position: absolute;
								right: 0px;
								width: 180px;
								text-align: center;
							}
							&:last-of-type{
								font-weight: 500;
							}
						}
					}
					&:after{
						content:" ";
						position: absolute;
						width: 1px;
						height: 100%;
						background:$primary;
						top: 0;right: 180px;
					}
				}
			}
			&.past{
				border-color:#b9b9b9;
				margin-bottom: 50px;
				li{
					border-color:#b9b9b9;
					.field{
						color: #b9b9b9;
					}
				}
				li .expanded-row .status{
					border-color:#b9b9b9;
				}
				li .expanded-row:after{
					background:#b9b9b9;
				}
				.status{
					border-color:#b9b9b9;
					color: #b9b9b9;
				}
			}
		}
	}

	.add-passenger{
		position: absolute;
		z-index: 10;
		background:#2e2e2e;
		width: 100%;
		top: 30px;
		.inner-container{
    	    width: 360px;
		    margin: 0 auto;
		    position: relative;
	    }
		.back-btn{
			svg{
				transform:rotate(180deg);
				path{
					fill:$primary;
				}
			}
			text-transform: uppercase;
			color: $primary;
			font-weight: 500;
			font-size: 20px;
			margin-left: -15px;
			margin-bottom: 25px;
			margin-top: 10px;
			cursor: pointer;
		}
		h2{
			font-size: 30px;
			font-weight: 100;
			text-align: center;
			color: #afafaf;
			margin-bottom: 40px;
		}
		.type-selector{
			position: relative;
			.type-dash{
				position: absolute;
				height: 6px;
				background:$primary;
				top: 23px;
				transition: all .4s ease-out;
				&.float-1{
					left: 0;
				}
				&.float-2{
					left: 50%;
				}
			}
			.types{
				width: 100%;
				border-bottom: 1px solid #7e7e7e;
				margin-bottom: 40px;
				display: flex;
				justify-content: space-between;
				padding-bottom: 8px;
				height: 20px;
				.type{
					font-weight: 500;
					color: #a5a5a5;
					margin: auto;
					display: inline-block;
					font-size: 20px;
					text-transform: uppercase;
					cursor: pointer;
					transition: all .25s ease-out;
					transform: scale(0.85);
					&:first-of-type{
						margin-left: 0;
						position: absolute;
						left: 0;
					}
					&:last-of-type{
						margin-right: 0;
						position: absolute;
						right: 0;
					}
					&.current{
						transform:scale(1);
						// font-size: 20px;
						color: #3cb2b7;
					}
				}
			}
		}

		input,textarea{
			background:transparent;
			border:1px solid #afafaf;
			width: 100%;
			height: 44px;
			outline: none;
			text-align: center;
			color: #afafaf;
			font-size: 15px;
			text-transform: uppercase;
			padding: 0;
		}
		textarea{
			text-transform: none;
			height: 90px;
			font-size: 15px;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				font-style: italic;
				padding-top: 5px;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				font-style: italic;
				padding-top: 5px;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				font-style: italic;
				padding-top: 5px;
			}
		}
		.fph-input{
			width: 100%;
			margin-bottom: 20px;
			.ph{
				text-transform: uppercase;
				font-size: 15px;
			}
		}
		.row{
			display: flex;
			justify-content: space-between;
			flex-direction:row;
			.col{
				flex:1;
				margin-left: 10px;
				margin-right: 10px;
				&:first-of-type{
					margin-left: 0;
				}
				&:last-of-type{
					margin-right: 0;
				}
				.row .col{
					margin: 0 5px;
					&:first-of-type{
						margin-left: 0;
					}
					&:last-of-type{
						margin-right: 0;
					}
				}
			}
		}
		[type=submit]{
			height: 66px;
			line-height: 66px;
			font-size: 20px;
			font-weight: 300;
			border:none;
			background:$primary;
			color: #fff;
			margin-top: 22px;
			margin-bottom: 30px;
			cursor: pointer;
			&:disabled{
				background:#6e6d6d;
				color: #414141;
				cursor: default;
			}
		}
	}

	.subview-holder{
			position: absolute;
			width: 100%;
			&.ng-enter{
		      transition: all .5s ease-out;
		      transform:translate(400px,0);
		      opacity: 0;
		      transition-delay:.35s;
		    }
		    &.ng-enter-active{
		      transform:translate(0,0);
		      opacity: 1;
		    }
		    &.ng-leave{
		      transition: all .35s ease-in;
		    }
		    &.ng-leave-active{
		      transform:translate(-400px,0);
		      opacity: 0;
		    }
	}
}