<div class="passenger-dropdown">
	<div ng-click="showDropdown=true">
		<span ng-hide="selected"><span ng-if="index>1">add passenger {{index}} info</span><span ng-if="index==1">add lead passenger</span></span>
		<span ng-show="selected">{{selected.name}}</span>
		<ng-include src="'images/pointer.svg'"></ng-include>
	</div>
	<div class="dropdown" ng-show="showDropdown">
		<div class="item-holder">
			<div class="item" ng-click="add()">+ new passenger</div>
		</div>
		<div class="item-holder" ng-repeat="contact in existing">
			<div class="item" ng-click="select(contact)">
				{{contact.name}}
			</div>
			<div class="edit" ui-sref=".edit({id:contact.id})">edit</div>
		</div>

	</div>
</div>