The Privacy Notice describes the measures we take to protect the security of the information. We are committed to protecting your privacy. We will only use the information that we collect about you lawfully (in accordance with the Data Protection Act 1998).

The information we hold will be accurate and up to date. You can check the information that we hold about you by emailing us. If you find any inaccuracies we will delete it or correct it promptly. The personal information which we hold will be held securely in accordance with our internal security policy.
We have made every possible effort to secure our website for your protection including security certifications but GAC cannot warrant against any unlawful hacking or leak of information from the internet. GAC cannot ensure or warrant the security of any information you transmit to us via the internet, and you do so at your own risk. Once we have received your transmission, we will use our best efforts to ensure its security on our systems.

<h4>How We Use the Information We Collect?</h4>

Generally, GAC will use the personal data which you have provided for the purposes of fulfilling your application for any of our services and products, credit checks in the case of applications, and for understanding how we can improve our services to you.
Some of GAC’s services may be offered in conjunction with partner companies. In order to provide such co-branded services to you, it may be necessary for us to share your personal information with our partner companies. If you do not want your data to be shared, you can choose not to allow the transfer by not using that particular service.
Web sites that have links on our site may collect personally identifiable information about you. The data protection practices of those web sites linked to GAC are not covered by this policy statement. You are advised to check the data protection policies of these third party websites yourself before using those sites.
GAC may also disclose your information in special cases when we have reason to believe that disclosing this information is necessary to identify, contact or bring legal action against someone who may be causing injury to or interference with (either intentionally or unintentionally) GAC’s rights or property, other GAC users, or anyone else that could be harmed by such activities. GAC may disclose user information when we believe in good faith that the law requires it.

All travel information collected is necessary for the purpose of processing and delivering precise Airport Concierge services. GAC collects personal information such as:
1. Name, Address, Phone Numbers, Email Address, Travel Details, Passport Number and Date of Birth (on few instances) for the sole purposes of booking Airport Meet and Greet services to allow Service Providers and Airport Authorities to deliver Airport Concierge services in a successful manner.
2. Credit/Debit card number, Expiration date and Name on the card for sole purposes of invoicing and/or charging for services.
We will never collect sensitive information about you without your explicit consent. Sensitive information is considered as either (1) Credit/Debit card information and/or (2) Passport information and is only collected once to confirm the reservation(s)/booking(s).

<h4>Information We Share</h4>

GAC does not share any data with any non-related third party. GAC does not share any data for any sales purposes. The only time the relevant data is shared is with our Service partners and that’s only for the purposes of delivering Airport Concierge services. Even with our service partners we never share any financial data but only personal information such as names, passport numbers, date of birth and travel details such as flight numbers, destination, origin of flight and transportation details to and from the airport.

This site uses Google web analytics service. Google may record mouse clicks, mouse movements, scrolling activity as well as text you type in this website. This site does not use Google to collect any personally identifiable information entered in this website. For more information see Privacy Policy for Information Collected by the Google Web Analytics Service. We are using the information collected by Google service to see how parts of our site are used and how we can improve the overall experience of our visitors and customers. You can learn more about the Service at www.google.co.uk/intl/en/policies/privacy/.

<h4>Global Airport Concierge Email Policy</h4>

GAC primarily uses email addresses to keep in touch with customers. GAC sends email confirmations when purchasing/amending/cancelling services. GAC delivers emails straight to your inbox in a timely fashion. Your privacy is important to us and complies with UK and EU law.

<h4>How We Protect Personal Information</h4>

We maintain administrative, technical and physical safeguards that comply with federal regulations to protect the nonpublic personal information we have about you. We use SSL encryption on the portions of our Site from which we transfer certain personal information.

<h4>Updates to Our Privacy Notice</h4>
This Privacy Notice may be updated periodically and without prior notice to you to reflect changes in our personal information practices. We will post a prominent notice on our Site to notify you of any significant changes to our Privacy Notice and indicate at the top of the notice when it was most recently updated.

<h4>How to Contact Us?</h4>

If you have any questions or comments about this Privacy Notice, or if you would like us to update the information we have about you or your preferences, please contact us at 0044 (0)8000 124 007.