<div class="progress-bar">
	<div class="default">
		<div class="main-container">
				
		</div>
		<div class="hider"></div>
	</div>
	<div class="bar-container">
		<div class="main-container">
			<div class="bar" style="width:{{svc.fill*100}}%">
				<div class="main-container">
					<ul>
						<li>details</li>
						<li>services</li>
						<li>payment</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="text">
		<div class="main-container">
			<ul>
				<li>details</li>
				<li>services</li>
				<li>payment</li>
			</ul>
		</div>
	</div>
</div>