<div class="booking-passangers inner-view" win-height-minus="160">
	<div class="inner-container">
		<div class="clearfix"></div>
		<h2>- Add passangers -</h2>
		
		<counter model="ctrl.passangerSlots" event="changeSlots"></counter>
		
		<div class="passanger-holder">
			<passanger-dropdown index="{{$index+1}}" ng-repeat="pass in passangers track by $index"></passanger-dropdown>
		</div>

		<input type="submit" value="select services" ui-sref="booking.services">
	</div>

	<div class="sub-view" ui-view></div>
</div>
