<div class="booking-details inner-view">
	<div class="inner-container">
		<h2>- Add your flight details -</h2>

		<form>
			<type-selector type="details.type" types="['departure','arrival','connect']"></type-selector>
			
			<fph-input type="text" placeholder="At Airport" model="details.airport"></fph-input>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col">
					<fph-input type="text" placeholder="Flight number" model="details.flightCode"></fph-input>
				</div>
				<div class="col">
					<div class="row">
						<div class="col">
							<fph-input type="text" placeholder="DD" model="details.dd"></fph-input>
						</div>
						<div class="col">
							<fph-input type="text" placeholder="MM" model="details.mm"></fph-input>
						</div>
						<div class="col">
							<fph-input type="text" placeholder="YY" model="details.yy"></fph-input>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<fph-input type="text" placeholder="Terminal" model="details.terminal"></fph-input>
				</div>
				<div class="col">
					<fph-input type="text" placeholder="Time" model="details.time"></fph-input>
				</div>
			</div>

			<input type="submit" value="add passangers" ng-disabled="!enableDetailsSubmit" ui-sref="booking.passangers">
		</form>
	</div>
</div>