<div class="booking-services inner-view">
	<div class="inner-container">
		<div class="clearfix"></div>
		<h2>- Select services -</h2>

		<type-selector type="serviceType" types="['meet up','on demand','transport']"></type-selector>

		<div class="service-box">
			<h3>VIP meet</h3>
			<p>
				Your arrival experience will include: Being met at the aircraft gate and expedited through immigration
			</p>

			<div class="counter">
				<div class="ctrl">+</div>
				<div class="num">2</div>
				<div class="ctrl">-</div>
			</div>

			<div class="pricetag">£160</div>
		</div>

		<input type="submit" value="next">
	</div>
</div>