<div id="booking">
	<div id="bar">
		<div class="main-container">
			<div class="gac"><ng-include src="'images/gac.svg'"></ng-include></div>

			<div class="menu">
				<a ui-sref="my.profile">Hannah</a>
				<ng-include src="'images/menu.svg'"></ng-include>
			</div>
		</div>
	</div>

	<header>
		<div class="main-container">
			<div class="section">
				<div class="collapsed">
				lax <div class="paperplane"><ng-include src="'images/paperplane.svg'"></ng-include></div> lhr
				</div>
			</div>
			<div class="section">
				<div class="collapsed">
					24 dec / 04:20<sup>pm</sup>
				</div>
			</div>
			<div class="section">
				<div class="collapsed">
					2<sup> &nbsp;adults</sup>
				</div>
			</div>
			<div class="section">
				<div class="collapsed">
					<div class="svc">
						Vip meet<br>
						Baggage porters
					</div>
					<div class="price">£325</div>
				</div>
			</div>
			<div class="pointer">
				<ng-include src="'images/pointer2.svg'"></ng-include>
			</div>
		</div>
	</header>
	<div class="progress-bar">
		<!-- <progress-bar></progress-bar> -->
		<div class="main-container">
			<ul>
				<li>details</li>
				<li>services</li>
				<li>payment</li>
			</ul>
		</div>
	</div>

	<div class="subview-holder" ui-view></div>
</div>