<div id="booking">
	<div id="bar">
		<div class="main-container">
			<div class="gac"><ng-include src="'images/gac.svg'"></ng-include></div>

			<div class="menu">
				<a ui-sref="my.profile">Hannah</a>
				<ng-include src="'images/menu.svg'"></ng-include>
			</div>
		</div>
	</div>

	<header>
		<div class="main-container">
			<div class="section">
				<div class="collapsed">
				lax <div class="paperplane"><ng-include src="'images/paperplane.svg'"></ng-include></div> lhr
				</div>
			</div>
		</div>
	</header>
	<div class="progress-bar">
		<div class="main-container">
			<ul>
				<li>details</li>
				<li>services</li>
				<li>payment</li>
			</ul>
		</div>
	</div>

	<div class="subview-holder" ui-view></div>
</div>