<div class="booking-services inner-view" win-height-minus="160">
	<div class="inner-container">
		<div class="clearfix"></div>
		<h2>- Select services -</h2>

		<type-selector type="ctrl.serviceType" types="serviceTypes"></type-selector>
		
		<div >

			<div class="service-box" ng-repeat="service in services[servicesView]">
				<h3>{{service.title}}</h3>
				<p>
					{{service.description}}
				</p>

				<counter model="service.quantity"></counter>

				<div class="pricetag">£{{service.price}}</div>
			</div>

		</div>

		<input type="submit" value="next" ng-click="nextServices()">
	</div>
</div>