<div id="booking">
	<div id="bar">
		<div class="main-container">
			<div class="gac"><ng-include src="'images/gac.svg'"></ng-include></div>

			<div class="rightside">
				<a ui-sref="my.profile">Hannah</a>
				<span ng-click="showMenuDropdown=!showMenuDropdown"><ng-include src="'images/menu.svg'"></ng-include></span>
			</div>
		</div>

		<div class="menu" menu-padding ng-show="showMenuDropdown">
			<ul>
				<li ui-sref="my.passangers">passangers</li>
				<li ui-sref="my.bookings">bookings</li>
				<li>invoices</li>
				<li>profile</li>
				<li>support</li>
				<li><small>log-out</small></li>
			</ul>
		</div>
	</div>

	<progress-header></progress-header>

	<progress-bar></progress-bar>
	
	<locale-switcher></locale-switcher>
	
	<div class="subview-holder" ui-view></div>
</div>