<div class="booking-passangers inner-view">
	<div class="inner-container">
		<div class="clearfix"></div>
		<h2>- Add passangers -</h2>
		
		<div class="counter">
			<div class="ctrl">+</div>
			<div class="num">2</div>
			<div class="ctrl">-</div>
		</div>

		<div class="passanger-dropdown">
			<span>add passanger 1 info</span>
			<ng-include src="'images/pointer.svg'"></ng-include>

			<div class="dropdown">
				<ul>
					<li ui-sref=".add">+ new passanger</li>
					<li>Hannah Morby</li>
					<li>John Snow</li>
				</ul>
			</div>
		</div>

		<input type="submit" value="select services" ui-sref="booking.services">
	</div>

	<div class="sub-view" ui-view></div>
</div>
