<div id="landing">
	<div id="bar" bar>
		<div class="main-container">
			<!-- <div class="gac">
				<ng-include src="'images/gac.svg'"></ng-include>
			</div> -->
			<div class="logo">
				<img src="images/united.png" />
			</div>
			<div class="menu">
				<ul>
					<li><a class="link" href="#services">services</a></li>
					<li><a class="link" href="#support">support</a></li>
					<li><a class="link" href="#about">about</a></li>
					<li><a>log-in</a></li>
				</ul>
				<lang></lang>
			</div>

			<div class="mobile-menu" ng-click="showMobileDrop=!showMobileDrop">
				<div class="btn">
					<ng-include src="'images/menu.svg'"></ng-include>
				</div>
			</div>
		</div>

		<div class="mobile-menu-drop" ng-show="showMobileDrop" ng-click="showMobileDrop=false">
			<a class="link" href="#services">services</a>
			<a class="link" href="#support">support</a>
			<a class="link" href="#about">about</a>
		</div>
	</div>

	<div id="cover" ng-class="{'inited':init}" window-height scroll-background>
		<div class="gradient"></div>
		<div class="sidestuff" ng-show="showSideStuff">
			<div class="animation-container">
				<a href="#quote" class="quote scrollto">quick quote</a>
				<div class="journey">
					<h1>Your journey,<br>460 airports easier!</h1>
					<p>Superb airport concierge services for<br>a seamless travel, end-to-end.</p>
				</div>
				<div class="book-now" ng-click="login()">book now <ng-include src="'images/arrow.svg'"></ng-include></div>
			</div>
		</div>
		
		<div class="initial-hider" ng-class="{'inited':init}">
			<login ng-show="showLogin" />
		</div>
	
		<div class="bottom-pointer">
			<a href="#services" class="scrollto">
				<ng-include src="'images/pointer.svg'"></ng-include>
			</a>
		</div>

	</div>

	<div id="services">

		<div class="main-container">
			<h1>- Services -</h1>
			<h3>discover seamless travel,<br>end-to-end</h3>
			
			<div class="services-desktop">
				<div class="tabs">
					<div 
						ng-click="ctrl.currentTab=service.title" 
						ng-class="{'current':ctrl.currentTab==service.title}" 
						class="tab"
						ng-repeat="service in services">
						{{service.title}}
					</div>
				</div>
				
				<div class="tab-content">
					<div class="content" ng-show="ctrl.currentTab==service.title" ng-repeat="service in services">
						<h2>{{service.title}}</h2>
						<div class="img">
							<img src="images/slide1.jpg">
						</div>
						<div class="text" ng-bind-html="service.content"></div>
					</div>
					
				</div>
				<div class="vertial-scroll-bind" scroll-bind>
					<div class="tab-label" ng-show="ctrl.currentTab=='vip meet'">vip meet</div>
					<div class="tab-label smaller" ng-show="ctrl.currentTab=='by invitation'">by invitation</div>
					<div class="tab-label smaller" ng-show="ctrl.currentTab=='on demand'">on demand</div>
					<div class="book-now" 
						ng-click="login()" 
						ng-show="ctrl.currentTab=='vip meet' || ctrl.currentTab=='on demand'"
					>book now</div>
					<a class="book-now link" ng-show="ctrl.currentTab=='by invitation'" href="#support">
						enquire now
					</a>
				</div>
			</div>
			
		</div>
		
		<div class="swiping-hand">
			<ng-include src="'images/swiping-hand.svg'"></ng-include>
			<br>
			<small>swipe to explore<br>services</small>
		</div>
		<div class="services-mobile swiper-container">

				<div class="swiper-pagination"></div>

				<div class="swiper-wrapper">
					<div class="swiper-slide" ng-repeat="service in services">
						<div class="main-container">
						<div class="tab-content swiper-slide">
							<div class="content">
								<h2>{{service.title}}</h2>
								<div class="img">
									<ng-include src="getImage(service.image)"></ng-include>
								</div>
								<div class="text" ng-bind-html="service.content"></div>
							</div>
							<div class="clearfix"></div>
						</div>
						</div>
					</div>
				</div>
			</div>
	</div>

	<div id="quote">
		<div class="quote-box">
			<h1>- Quick Quote -</h1>
			<p>Explore the services &amp; locations we cover around the world</p>

			<form>
				<type-selector type="quote.type" types="['ARRIVAL','DEPARTURE','CONNECT']"></type-selector>
				<div class="type-dropdown-holder">
					<dropdown 
						placeholder=""
						display="value"
						key="value"
						model="quote.type"
						options="[{value:'arrival'},{value:'departure'},{value:'connect'}]"
					></dropdown>
				</div>
				<div class="dest-input">
					<fph-input type="text" placeholder="Airport" model="quote.airport"></fph-input>
				</div>
				<div class="date">
					<fph-input type="text" placeholder="DD" model="quote.dateD"></fph-input>
					<fph-input type="text" placeholder="MM" model="quote.dateM"></fph-input>
					<fph-input type="text" placeholder="YY" model="quote.dateY"></fph-input>
					<div class="btn" ng-click="showQuoteDatePicker=true">
						<ng-include src="'images/calendar.svg'"></ng-include>
						<small>select<br>a date</small>
					</div>
					<div class="datepicker-holder" ng-show="showQuoteDatePicker">
						<div 
						date-picker="quote.date"
						max-view="date"
						min-view="date"
						auto-close="true"
						date-change="changeDate"></div>
					</div>
				</div>

				<div class="clearfix"></div>

				<passengers data="quote.passengers"></passengers>

				<services items="quote.services"></services>

				<div class="promo" ng-click="addPromo=true" ng-hide="addPromo">
					+ Add a promo code
				</div>

				<input type="text" class="promo-input" placeholder="Promo code" ng-show="addPromo">

				<input type="submit" value="get quote" ng-disabled="!allowQuoteRequest" ng-click="showResult=true">

				<div class="result" ng-show="showResult">
					<div class="inner">
						<div class="field">
							<div class="cap">arrival</div>
							Los Angelis LAX
						</div>
						<div class="field">
							<div class="cap">date</div>
							23 feb 2017
						</div>
						<div class="field">
							<div class="cap">passengers</div>
							1 adult<br>
							2 children
						</div>
						<div class="field">
							<div class="cap">service</div>
							VIP meet<br>
							Baggage porter<br>
							Transfer
						</div>
						<div class="clearfix"></div>
						<div class="total">
							<b>total</b>
							<div class="price">£325</div>
							<div class="select-currency">
								<span>
									change<br>
									currency
								</span>
								<select name="currency" ng-class="{'hidden':hideSelector}" ng-click="hideSelector=!hideSelector">
									<option value="GBP">GBP</option>
									<option value="USD">USD</option>
									<option value="TRL">TRL</option>
								</select>
							</div>
						</div>

						<div class="btn" ng-click="showResult=false;">new quote</div>
						<div class="btn book" ng-click="showResult=false;login();">book now</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id="support">
		
		<div class="main-container">
		<h1>- support -</h1>
		<h4>you can count on us 24/7<br>anytime, anywhere</h4>
		<p>
			Whether you have a last minute change of plans or you simply need more information, just email us or dial the nearest regional centre.
		</p>

		<div class="clearfix"></div>

		<div class="heart">
			<ng-include src="'images/heart.svg'"></ng-include>
		</div>

		<div class="faq-overlay" ng-show="showFaqOverlay">
			<h2>- FAQ -</h2>
			<h4>if you don’t find the answers of your questions, please be in touch</h4>
			<div class="x" ng-click="showFaqOverlay=false">
				<ng-include src="'images/x.svg'"></ng-include>
			</div>
			<div class="row">
				<div class="col">
					<div class="item" 
						ng-click="toggleFaqOpen(item)" 
						ng-class="{'opened':item.opened}"
						ng-repeat="item in faq" 
						ng-if="$index<9">
						<div class="title">{{item.title}}</div>
						<ng-include src="'images/pointer.svg'"></ng-include>
						<div class="item-content" ng-show="item.opened">{{item.content}}</div>
					</div>
				</div>
				<div class="col">
					<div class="item" 
						ng-click="toggleFaqOpen(item)" 
						ng-class="{'opened':item.opened}"
						ng-repeat="item in faq" 
						ng-if="$index>=9">
						<div class="title">{{item.title}}</div>
						<ng-include src="'images/pointer.svg'"></ng-include>
						<div class="item-content" ng-show="item.opened">{{item.content}}</div>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col call-us">
				<h5>click to call us toll free</h5>

				<ul>
					<li><a href="">UK<i>+44 8000 124 007</i></a></li>
					<li><a href="">USA<i>+1 866 662 4952</i></a></li>
					<li><a href="">Australia<i>+61 280 155 663</i></a></li>
					<li><a href="">Hong Kong<i>+85 258 082 967</i></a></li>
					<li><a href="">Malaysia<i>+60 018 008 140 66</i></a></li>
					<li><a href="">Singapore<i>+65 800 120 4846</i></a></li>
					<li><a href="">Bahrain<i>+97 316 198 764</i></a></li>
				</ul>

				<a class="faq" ng-click="showFaqOverlay=true">
					- FAQ -
				</a>
			</div>
			<div class="col contact-us">
				<h5>tell us what you need &amp;<br>we will get back to you asap</h5>
				<div class="thankyou" ng-show="sent">
					<div>
						thank you! we will get back to you asap
					</div>
				</div>
				<form ng-submit="sent=true" ng-hide="sent">
					<div class="row">
						<div class="col">
							<fph-input type="text" placeholder="Name" model="contact.name"></fph-input>
						</div>
						<div class="col">
							<dropdown 
								placeholder="enquiry type"
								display="title"
								key="title"
								model="contact.type"
								options="[{title:'something 1'},{title:'another thing'}]"
							></dropdown>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<fph-input type="text" placeholder="Email" model="contact.email"></fph-input>
						</div>
						<div class="col">
							<fph-input type="text" placeholder="Subject" model="contact.subject"></fph-input>
						</div>
					</div>
					<textarea placeholder="Your message"></textarea>
					<input type="submit" value=SEND>
				</form>
				<div class="also">
					<h5>- you can also email us on -</h5>
					<span>service enquiries:</span> <a href="mailto:enquiries@globalairportconscierge.com">enquiries@globalairportconscierge.com</a><br>
					<span>sales enquiries:</span> <a href="mailto:sales@globalairportconscierge.com">sales@globalairportconscierge.com</a><br>
					<span>to become a partner:</span> <a href="mailto:partners@globalairportconscierge.com">partners@globalairportconscierge.com</a>
				</div>
				<a class="faq" ng-click="showFaqOverlay=true">
					- FAQ -
				</a>
			</div>
		</div>

		<div class="follow-us">
			<a href="">
				<ng-include src="'images/tw.svg'"></ng-include><br>
				follow us on<br>twitter
			</a>
		</div>

		</div>
	</div>


	<div id="about" scroll-background-x>
		<div class="main-container">
			<h1>- ABOUT -</h1>
			<h3>the most advanced airport<br>concierge service in the world</h3>
			<div class="content">
				<p>
					Our goal is to eliminate any complications from your <br>
travel journey and make your time at the airport as <br>
seamless as possible – saving your time and energy. <br>
United Signature Service, currently available <br>
at Chicago O’Hare, New York/Newark, San <br>
Francisco, Houston and Los Angeles, <br>
provides a wide range of luxury concierge<br>
services that can help reduce <br>
the stress and hassle <br>
of air travel. 


				</p>
			</div>
		</div>
		
	</div>


	<div class="advertising-overlay" ng-show="showAdvertising">
		<div class="closer" ng-click="showAdvertising=false"></div>
		<div class="main-container">
			<div class="x" ng-click="showAdvertising=false">
				<ng-include src="'images/x.svg'"></ng-include>
			</div>
			<div class="holder">
				<img class="topad" src="images/offer.jpg" alt="">
				<div class="contents">
					<h3>There is no better way to reach the top 1% travelers</h3>
					<p>
						Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula, a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna. In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum ullamcorper rutrum. 
		Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula, a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna. In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum ullamcorper rutrum. 
					</p>

					<div class="intouch">
						Be in touch at:<br>
						<a href="mailto:partners@globalairportconcierge.com">partners@globalairportconcierge.com</a>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="terms-overlay" ng-show="showTerms">
		<div class="closer" ng-click="showTerms=false"></div>
		<div class="main-container">
			<div class="x" ng-click="showTerms=false">
				<ng-include src="'images/x.svg'"></ng-include>
			</div>
			<div class="holder">
				<h2>Terms &amp; Conditions</h2>
				<ng-include src="'partials/terms.html'"></ng-include>
			</div>
		</div>
	</div>


	<div class="terms-overlay" ng-show="showPrivacy">
		<div class="closer" ng-click="showPrivacy=false"></div>
		<div class="main-container">
			<div class="x" ng-click="showPrivacy=false">
				<ng-include src="'images/x.svg'"></ng-include>
			</div>
			<div class="holder">
				<h2>Privacy Policy</h2>
				<ng-include src="'partials/privacy.html'"></ng-include>
			</div>
		</div>
	</div>

	<footer>
		<div class="main-container">
			<h3>Your journey,<br>Your way!</h3>

			<div class="tw">
				<ng-include src="'images/tw.svg'"></ng-include>
			</div>
			<div class="rightside">
				<div class="book-now" ng-click="login()">book now</div>
				<div class="back-top" ng-show="scrolled" back-top>
					<ng-include src="'images/backtotop.svg'"></ng-include><br>
					<small>go to top</small>
				</div>
				<div class="links">
					<a ng-click="showAdvertising=true">advertising</a>
					<a ng-click="showTerms=true">terms &amp; conditions</a>
					<a ng-click="showPrivacy=true">privacy policy</a>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
		<div class="copy">
			<div class="main-container">
				Global Airport Concierge Inc Copyright &copy; 2017. All Rights Reserved
			</div>
		</div>
	</footer>


</div>