<div id="landing">
	<div id="bar" bar>
		<div class="main-container">
		<div class="gac">
			<ng-include src="'images/gac.svg'"></ng-include>
		</div>
		<div class="menu">
			<ul>
				<li><a class="link" href="#services">services</a></li>
				<li><a class="link" href="#support">support</a></li>
				<li><a class="link" href="#about">about</a></li>
				<li><a>log-in</a></li>
			</ul>
			<div class="lang">
				<span>eng</span>
				<ng-include src="'images/pointer.svg'"></ng-include>
			</div>
		</div>
		</div>
	</div>

	<div id="cover" window-height scroll-background>

		<div class="sidestuff" ng-show="showSideStuff">
			<div class="animation-container">
				<a href="#quote" class="quote scrollto">quick quote</a>
				<div class="journey">
					<h1>Your journey,<br>460 airports easier!</h1>
					<p>Superb airport concierge services for<br>a seamless travel, end-to-end.</p>
				</div>
				<div class="book-now" ng-click="login()">book now <ng-include src="'images/arrow.svg'"></ng-include></div>
			</div>
		</div>
		
		<div class="initial-hider" ng-class="{'inited':init}">
			<login ng-show="showLogin" />
		</div>
	
		<div class="bottom-pointer">
			<a href="#services" class="scrollto">
				<ng-include src="'images/pointer.svg'"></ng-include>
			</a>
		</div>

	</div>

	<div id="services">

		<div class="main-container">
			<h1>- Services -</h1>
			<h3>discover seamless travel,<br>end-to-end</h3>
			
			<div class="tabs" ng-init="currentTab='vip'">
				<div ng-click="currentTab='vip'" ng-class="{'current':currentTab=='vip'}" class="tab">vip meet</div>
				<div ng-click="currentTab='invitation'" ng-class="{'current':currentTab=='invitation'}" class="tab">by invitation</div>
				<div ng-click="currentTab='demand'" ng-class="{'current':currentTab=='demand'}" class="tab">on demand</div>
			</div>
			
			<div class="tab-content">
				<div class="content" ng-show="currentTab=='vip'">
					<div class="img">
						<ng-include src="'images/diamond.svg'"></ng-include>
					</div>
					<div class="text">
						Whether you are arriving, departing or connecting flights, your personal airport agent will be waiting to meet &amp; assist you at every step of your journey. From the moment you show at the gate, through "fast track" immigration &amp; exclusive lounge access to your luggage being stored in a luxury car, waiting to take you anywhere you want.
						<br><br>
						Start booking to customize your experience,<br>
						exactly the way you want.
					</div>
				</div>
				<div class="content" ng-show="currentTab=='invitation'">
					<div class="img">
						<ng-include src="'images/diamond.svg'"></ng-include>
					</div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis reprehenderit tempora minima vel natus voluptas ducimus adipisci animi atque beatae laborum ex delectus dolores, deserunt, aspernatur esse eos dolorum distinctio.
						<br><br>
						Start booking to customize your experience,<br>
						exactly the way you want.
					</div>
				</div>
				<div class="content" ng-show="currentTab=='demand'">
					<div class="img">
						<ng-include src="'images/diamond.svg'"></ng-include>
					</div>
					<div class="text">
						Whether you are arriving, departing or connecting flights, your personal airport agent will be waiting to meet &amp; assist you at every step of your journey. From the moment you show at the gate, through "fast track" immigration &amp; exclusive lounge access to your luggage being stored in a luxury car, waiting to take you anywhere you want.
						<br><br>
						Start booking to customize your experience,<br>
						exactly the way you want.
					</div>
				</div>
			</div>
			<div class="vertial-scroll-bind" scroll-bind>
				<div class="tab-label" ng-show="currentTab=='vip'">vip meet</div>
				<div class="tab-label smaller" ng-show="currentTab=='invitation'">by invitation</div>
				<div class="tab-label smaller" ng-show="currentTab=='demand'">on demand</div>
				<div class="book-now" ng-click="login()">book now</div>
			</div>
		</div>
	</div>

	<div id="quote">
		<div class="quote-box">
			<h1>- Quick Quote -</h1>
			<p>Explore the services &amp; locations we cover around the world</p>

			<type-selector type="quote.type"></type-selector>

			<form>
				<div class="dest-input">
					<fph-input type="text" placeholder="Airport" model="quote.airport"></fph-input>
				</div>
				<div class="date">
					<fph-input type="text" placeholder="DD" model="quote.dateD"></fph-input>
					<fph-input type="text" placeholder="MM" model="quote.dateM"></fph-input>
					<fph-input type="text" placeholder="YY" model="quote.dateY"></fph-input>
					<div class="btn" ng-click="showQuoteDatePicker=true">
						<ng-include src="'images/calendar.svg'"></ng-include>
						<small>select<br>a date</small>
					</div>
					<div class="datepicker-holder" ng-show="showQuoteDatePicker">
						<div 
						date-picker="quote.date"
						max-view="date"
						min-view="date"
						auto-close="true"
						date-change="changeDate"></div>
					</div>
				</div>

				<div class="clearfix"></div>

				<passangers></passangers>

				<div class="dropdown services">
					<div class="input">
						services
						<ng-include src="'images/pointer.svg'"></ng-include>
					</div>
					<!-- <div class="overlay"></div> -->
				</div>

				<div class="promo" ng-click="addPromo=true" ng-hide="addPromo">
					+ Add a promo code
				</div>

				<input type="text" class="promo-input" placeholder="Promo code" ng-show="addPromo">

				<input type="submit" ng-disabled="true" value="get quote">
			</form>
		</div>
	</div>

	<div id="support">
		
		<div class="main-container">
		<h1>- support -</h1>
		<h4>you can count on us 24/7<br>anytime, anywhere</h4>
		<p>
			Whether you have a last minute change of plans or you simply need more information, just email us or dial the nearest regional centre.
		</p>

		<div class="clearfix"></div>

		<div class="heart">
			<ng-include src="'images/heart.svg'"></ng-include>
		</div>

		<div class="row">
			<div class="col call-us">
				<h5>click to call us toll free</h5>

				<ul>
					<li><a href="">UK<i>+44 8000 124 007</i></a></li>
					<li><a href="">USA<i>+1 866 662 4952</i></a></li>
					<li><a href="">Australia<i>+61 280 155 663</i></a></li>
					<li><a href="">Hong Kong<i>+85 258 082 967</i></a></li>
					<li><a href="">Malaysia<i>+60 018 008 140 66</i></a></li>
					<li><a href="">Singapore<i>+65 800 120 4846</i></a></li>
					<li><a href="">Bahrain<i>+97 316 198 764</i></a></li>
				</ul>

				<a class="faq">
					- FAQ -
				</a>
			</div>
			<div class="col contact-us">
				<h5>tell us what you need &amp;<br>we will get back to you asap</h5>
				<form>
					<div class="row">
						<div class="col">
							<fph-input type="text" placeholder="Name" model="contact.name"></fph-input>
						</div>
						<div class="col">
							<dropdown 
								placeholder="enquiry type"
								display="title"
								key="title"
								model="contact.type"
								options="[{title:'something 1'},{title:'another thing'}]"
							></dropdown>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<fph-input type="text" placeholder="Email" model="contact.email"></fph-input>
						</div>
						<div class="col">
							<fph-input type="text" placeholder="Subject" model="contact.subject"></fph-input>
						</div>
					</div>
					<textarea placeholder="Your message"></textarea>
					<input type="submit" value=SEND>
				</form>
				<div class="also">
					<h5>- you can also email us on -</h5>
					<span>service enquiries:</span> <a href="mailto:enquiries@globalairportconscierge.com">enquiries@globalairportconscierge.com</a><br>
					<span>sales enquiries:</span> <a href="mailto:sales@globalairportconscierge.com">sales@globalairportconscierge.com</a><br>
					<span>to become a partner:</span> <a href="mailto:partners@globalairportconscierge.com">partners@globalairportconscierge.com</a>
				</div>
			</div>
		</div>

		<div class="follow-us">
			<a href="">
				<ng-include src="'images/tw.svg'"></ng-include><br>
				follow us on<br>twitter
			</a>
		</div>

		</div>
	</div>


	<div id="about" scroll-background-x>
		<div class="main-container">
			<h1>- ABOUT -</h1>
			<h3>the most advanced airport<br>concierge service in the world</h3>
			<div class="content">
				<p>From the airplane doors to the executive chauffier, our network covers over 460 airports, 365 days of the year, to make sure you reach to your next destination effortlessly &amp; seamlessly.</p>

				<b>our partners</b>
				<a href="http://goo">
					<img src="images/united.jpg" alt="">
				</a>
				<a href="http://goo" class="mastercard">
					<img src="images/mastercard.jpg" alt="">
				</a>
			</div>
		</div>
		
	</div>

	<footer>
		<div class="main-container">
			<h3>Your journey,<br>Your way!</h3>

			<div class="tw">
				<ng-include src="'images/tw.svg'"></ng-include>
			</div>
			<div class="rightside">
				<div class="book-now" ng-click="login()">book now</div>
				<div class="back-top" ng-show="scrolled" back-top>
					<ng-include src="'images/backtotop.svg'"></ng-include><br>
					<small>go to top</small>
				</div>
				<div class="links">
					<a href="">advertising</a>
					<a href="">terms &amp; conditions</a>
					<a href="">privacy policy</a>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
		<div class="copy">
			<div class="main-container">
				Global Airport Consierge Inc Copyright &copy; 2017. All Rights Reserved
			</div>
		</div>
	</footer>


</div>