<div id="landing">
	<div id="bar"></div>

	<div id="cover" window-height scroll-background="1.5">

		<div class="sidestuff" ng-show="showSideStuff">
			<div class="animation-container">
				<a href="#quote" class="quote">quick quote</a>
				<div class="journey">
					<h1>Your journey,<br>460 airports easier!</h1>
					<p>Superb airport concierge services for<br>a seamless travel, end-to-end.</p>
				</div>
				<div class="book-now" ng-click="login()">book now <ng-include src="'images/arrow.svg'"></ng-include></div>
			</div>
		</div>
		
		<div class="initial-hider" ng-class="{'inited':init}">
			<login ng-show="showLogin" />
		</div>
	
		<div class="bottom-pointer">
			<ng-include src="'images/pointer.svg'"></ng-include>
		</div>

	</div>

	<div id="services">

		<div class="main-container">
			<h1>- Services -</h1>
			<h3>discover seamless travel,<br>end-to-end</h3>
			
			<div class="tabs" ng-init="currentTab='vip'">
				<div ng-click="currentTab='vip'" ng-class="{'current':currentTab=='vip'}" class="tab">vip meet</div>
				<div ng-click="currentTab='invitation'" ng-class="{'current':currentTab=='invitation'}" class="tab">by invitation</div>
				<div ng-click="currentTab='demand'" ng-class="{'current':currentTab=='demand'}" class="tab">on demand</div>
			</div>
			
			<div class="tab-content">
				<div class="content">
					<div class="img">
						<ng-include src="'images/diamond.svg'"></ng-include>
					</div>
					<div class="text">
						Whether you are arriving, departing or connecting flights, your personal airport agent will be waiting to meet &amp; assist you at every step of your journey. From the moment you show at the gate, through "fast track" immigration &amp; exclusive lounge access to your luggage being stored in a luxury car, waiting to take you anywhere you want.
						<br><br>
						Start booking to customize your experience,<br>
						exactly the way you want.
					</div>
				</div>
			</div>
			<div class="tab-label">vip meet</div>
			<div class="book-now">book now</div>
		</div>
	</div>

	<div id="quote">
		<div class="quote-box">
			<h1>- Quick Quote -</h1>
			<p>Explore the services &amp; locations we cover around the world</p>

			<type-selector type="quote.type"></type-selector>

			<form>
				<div class="dest-input">
					<input type="text" placeholder="Airport">
				</div>
				<div class="date">
					<input type="text" placeholder="DD">
					<input type="text" placeholder="MM">
					<input type="text" placeholder="YY">
					<div class="btn">
						<ng-include src="'images/calendar.svg'"></ng-include>
						<small>select<br>a date</small>
					</div>
				</div>
			</form>
		</div>
	</div>


</div>