<div class="my-bookings inner-view">
	<div class="inner-container">
		<h5>upcoming</h5>

		<ul>
			<li>
				<div class="fieldset">
					<div class="field">
						<i>from</i><br>
						lax <ng-include src="'images/paperplane.svg'"></ng-include>
					</div>
					<div class="field">
						<i>to</i><br>
						lhr
					</div>
				</div>

				<div class="fieldset">
					<div class="field">
						<i>date</i><br>
						25 dec /&nbsp; 
					</div>
					<div class="field">
						<i>local time</i><br>
						04:15 <sup>am</sup>
					</div>
				</div>

				<div class="fieldset">
					<div class="field">
						<i>passangers</i><br>
						<small>
							Hannah Morby<br>
							Iliyan Oprev
						</small>
					</div>
				</div>

				<div class="fieldset">
					<div class="field">
						<i>services</i><br>
						<small>
							VIP meet
						</small>
					</div>
				</div>

				<div class="status">
					<div class="inner">
						confirmed
						<ng-include src="'images/pointer.svg'"></ng-include>
					</div>
				</div>
			</li>
		</ul>
		
		<h5>past bookings</h5>

		<ul class="past">
			<li>
				<div class="fieldset">
					<div class="field">
						<i>from</i><br>
						lax <ng-include src="'images/paperplane.svg'"></ng-include>
					</div>
					<div class="field">
						<i>to</i><br>
						lhr
					</div>
				</div>

				<div class="fieldset">
					<div class="field">
						<i>date</i><br>
						25 dec /&nbsp; 
					</div>
					<div class="field">
						<i>local time</i><br>
						04:15 <sup>am</sup>
					</div>
				</div>

				<div class="fieldset">
					<div class="field">
						<i>passangers</i><br>
						<small>
							Hannah Morby<br>
							Iliyan Oprev
						</small>
					</div>
				</div>

				<div class="fieldset">
					<div class="field">
						<i>services</i><br>
						<small>
							VIP meet
						</small>
					</div>
				</div>

				<div class="status">
					<div class="inner">
						confirmed
						<ng-include src="'images/pointer.svg'"></ng-include>
					</div>
				</div>
			</li>
			<li>
				<div class="fieldset">
					<div class="field">
						<i>from</i><br>
						lax <ng-include src="'images/paperplane.svg'"></ng-include>
					</div>
					<div class="field">
						<i>to</i><br>
						lhr
					</div>
				</div>

				<div class="fieldset">
					<div class="field">
						<i>date</i><br>
						25 dec /&nbsp; 
					</div>
					<div class="field">
						<i>local time</i><br>
						04:15 <sup>am</sup>
					</div>
				</div>

				<div class="fieldset">
					<div class="field">
						<i>passangers</i><br>
						<small>
							Hannah Morby<br>
							Iliyan Oprev
						</small>
					</div>
				</div>

				<div class="fieldset">
					<div class="field">
						<i>services</i><br>
						<small>
							VIP meet
						</small>
					</div>
				</div>

				<div class="status">
					<div class="inner">
						confirmed
						<ng-include src="'images/pointer.svg'"></ng-include>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>