<div class="my-profile inner-view">
	<div class="scrollview" win-height-minus="166">
	<div class="inner-container">
		<form>
			<fph-input type="text" placeholder="Full name" model="my.name"></fph-input>
			<fph-input type="text" placeholder="Email" model="my.email"></fph-input>
			<fph-input type="text" placeholder="Phone" model="my.phone"></fph-input>
			<fph-input type="text" placeholder="Mobile" model="my.mobile"></fph-input>
			<fph-input type="text" placeholder="billing address" model="my.billing"></fph-input>
			<fph-input type="text" placeholder="home address" model="my.home"></fph-input>
			<input type="submit" value="save changes">
		</form>
	</div>

	<div class="passwords">
		<div class="fields">
			<fph-input type="password" placeholder="old password" model="my.old"></fph-input>
			<fph-input type="password" placeholder="new password" model="my.new"></fph-input>
			<fph-input type="password" placeholder="repeat password" model="my.repeat"></fph-input>
		</div>
		<!-- <input type="submit" value="set new password"> -->
		<div class="btn">save new password</div>
	</div>
	</div>
</div>