<div class="my-receipts inner-view">
	<div class="inner-container">
		<ul>
			<li>
				<div class="num">1</div>
				<div class="section">
					<div class="caption">issue date</div>
					<div class="val">12.DEC.2016</div>
				</div>
				<div class="section">
					<div class="caption">receipt</div>
					<div class="val">N: 22353</div>
				</div>
				<div class="section">
					<div class="caption">amount</div>
					<div class="val">£325</div>
				</div>
				<div class="btn">
					<ng-include src="'images/pointer.svg'"></ng-include>
				</div>
				<div class="clearfix"></div>
			</li>
			<li>
				<div class="num">1</div>
				<div class="section">
					<div class="caption">issue date</div>
					<div class="val">12.DEC.2016</div>
				</div>
				<div class="section">
					<div class="caption">receipt</div>
					<div class="val">N: 22353</div>
				</div>
				<div class="section">
					<div class="caption">amount</div>
					<div class="val">£325</div>
				</div>
				<div class="btn">
					<ng-include src="'images/pointer.svg'"></ng-include>
				</div>
				<div class="clearfix"></div>
			</li>
		</ul>
	</div>
</div>