<div id="my">
	
	<div class="bar-wrapper">
	<div id="bar">
		<div class="main-container">
			<div class="gac"><ng-include src="'images/gac.svg'"></ng-include></div>

			<div class="rightside">
				<a ui-sref="my.profile">Hannah</a>
				<span ng-click="showMenuDropdown=!showMenuDropdown"><ng-include src="'images/menu.svg'"></ng-include></span>
			</div>
		</div>

		<div class="menu" menu-padding ng-show="showMenuDropdown">
			<ul>
				<li ui-sref="my.bookings">bookings</li>
				<li ui-sref="my.passengers">passengers</li>
				<li ui-sref="my.invoices">invoices</li>
				<li ui-sref="my.profile">profile</li>
				<li>support</li>
				<li><small>log-out</small></li>
			</ul>
		</div>
	</div>

	<div class="stripe">
		<div class="main-container">
			<a ui-sref="booking">+ book now</a>
		</div>
	</div>

	<div class="tabs">
		<div class="inner-container">
			<div class="tab" ui-sref="my.bookings" ng-class="{'current':currentState.name=='my.bookings'}">bookings</div>
			<div class="tab" ui-sref="my.passengers" ng-class="{'current':currentState.name=='my.passengers'}">passengers</div>
			<div class="tab" ui-sref="my.invoices" ng-class="{'current':currentState.name=='my.invoices'}">invoices</div>
			<div class="tab" ui-sref="my.profile" ng-class="{'current':currentState.name=='my.profile'}">profile</div>
		</div>
		<div class="mobile-dropdown">
			{{currentState.name.substr(3)}}
			<ng-include src="'images/pointer.svg'"></ng-include>
			<select ng-model="currentState.name" ng-change="changeMobileTab()">
				<option value="my.bookings">bookings</option>
				<option value="my.passengers">passengers</option>
				<option value="my.invoices">invoices</option>
				<option value="my.profile">profile</option>
			</select>
		</div>
	</div>
	
	</div>
	
	<div class="subview-holder" ui-view></div>
</div>